<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>@ViewData["Title"] - projFitConnect</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
    <link href="~/css/styles3.css" rel="stylesheet" />
    <style>
        .dropdown-btn {
            margin: 0 10px;
            padding-bottom: 5px;
            background-color: transparent;
            position: relative;
            display: inline-block;
        }

        .nondrop-btn {
            margin: 0 10px;
            background-color: transparent;
            position: relative;
            display: inline-block;
        }

        .dropdown-btn:hover .full-width-dropdown {
            display: block;
            top: 100%;
        }

        .full-width-dropdown {
            width: 180px;
            left: 25%;
            transform: translateX(-80%);
            display: none;
            position: absolute;
            z-index: 1000;
            background-color: #F3F3FA;
        }

            .full-width-dropdown a:hover {
                background-color: #004B97;
                color: #FFFCEC;
            }

        .subtitle {
            padding: 12px 0 8px 20px;
            color: #000079;
            font-weight: 500;
            font-size: 1.3em;
        }

        .layoutstamp {
            width: 2.8rem;
            height: 2.8rem;
            object-fit: cover;
            object-position: center;
        }
        .roundstamp {
            border-radius: 50%;
        }
    </style>
    @await RenderSectionAsync("Styles", required: false)
</head>
<body id="page-top">

    <header>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" style="background:rgba(128, 128, 128, 1)">
            <div class="container">
                <a href="https://localhost:7168/Home"><img src="~/assets/img/fitlogo.png" width=80px; alt="FitConnect Logo" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars ms-1"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0 ">
                        <li class="nav-item"><a class="nav-link fs-5" href="https://localhost:7168/Home">首頁</a></li>
                        <li class="nav-item"><a class="nav-link fs-5" href="~/Trainer">找教練</a></li>
                        <li class="nav-item"><a class="nav-link fs-5" href="~/Course">找課程</a></li>
                        <li class="nav-item"><a class="nav-link fs-5" href="~/gymlist">找場地</a></li>
                        <li class="nav-item"><a class="nav-link fs-5" href="~/shop">商城</a></li>

                        <li>
                            <div class="dropdown-center">
                                <div class="dropdown-btn">
                                    <a href="https://localhost:7168/Home/login" id="hyperlinkoflogin">
                                        <img class="layoutstamp roundstamp" src="~/assets/img/icon_profile.png" alt="Member" id="avatar-img">
                                    </a><br />
                                    <ul class="dropdown-menu full-width-dropdown" id="mainul">
                                        <li><a class="dropdown-item subtitle" href="https://localhost:7168/member/profile" id="mainli1">個人檔案</a></li>
                                        <li><a class="dropdown-item subtitle" href="https://localhost:7168/member/profile" id="mainli1">我的課程</a></li>
                                        <li><a class="dropdown-item subtitle" href="https://localhost:7168/member/profile" id="mainli1">我的訂單</a></li>
                                        <hr />
                                        <li><a class="dropdown-item subtitle" href="https://localhost:7168/home">常見問題</a></li>
                                        <li><a class="dropdown-item subtitle" asp-controller="home" asp-action="logout">登出</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown-center">
                                <div class="dropdown-btn">
                                    <a href="https://localhost:7168/linepay/shoppingcart"><img class="layoutstamp" src="~/assets/img/icon_shopping_cart.png" alt="ShoppingCart"></a><br />
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown-center">
                                <div class="dropdown-btn">
                                    <a href="https://localhost:7168/Home/login"><img class="layoutstamp" src="~/assets/img/icon_heart_like.png" alt="WishList"></a><br />
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown-center">
                                <a class="nondrop-btn" href="#">
                                    <img class="layoutstamp" src="~/assets/img/icon_customer_service.png" alt="CustomerService" /><br />
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="offcanvas offcanvas-end" style="margin-top:100px;width:220px;height: 220px;background-color:honeydew;" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">FitConnect XXX會員</h5>
        </div>
        <div class="offcanvas-body">
            <a href="https://localhost:7168/member/profile">
                個人資料修改
            </a><br />
            <a href="https://localhost:7168/member/profile">
                我的課程
            </a><br />
            <a href="https://localhost:7168/member/profile">
                我的訂單
            </a><br />
            <a href="https://localhost:7168/member/profile">
                常見問題
            </a><br />
            <a href="https://localhost:7168/member/profile">
                登出
            </a><br />
        </div>
    </div>

    <div id="mainpg" style="background-color:#deebf7">
        <p id="bannerTitle" style="padding: 139px 0 70px 0 ;margin-bottom:50px; text-align: center; font-size: 4.5em; color: aliceblue;text-shadow: 2px 1px 0.4px #BEBEBE;font-weight:600; background-image: url('https://www.rolustech.com/wp-content/uploads/2023/12/0002_como-conseguir-que-tus-comerciales-utilicen-el-crm-1.png'); display:none;">FitConnect</p>
        <div class="container w-75 m-auto">
            <main role="main">
                @RenderBody()
            </main>
        </div>
    </div>

    <footer>
        <div style="background-color: #A2C4E3; padding:90px 90px;">
            <div class="container text-center" id="footer-text">
                <div class="row footer_top">
                    <div class="col-md-3 footer_information_block">
                        <div class="footer_logo_summary">
                            <p>
                                <img class="img-fluid" src="~/assets/img/fitlogo.png" alt="FitConnect Logo">
                            </p>
                        </div>
                    </div>
                    <div class="col-3 footer_list_block">
                        <div class="list_head fw-bold fs-5">關於我們</div>
                        <ul class="nav flex-column m-2">
                            <li class="nav-item">最新消息</li>
                            <li class="nav-item"><a href="" target="_blank" style="color:white">聯絡我們</a></li>
                        </ul>
                    </div>
                    <div class="col-3 footer_list_block">
                        <div class="list_head fw-bold fs-5">服務提供</div>
                        <ul class="nav flex-column m-2">
                            <li class="nav-item"><a href="~/Course/Search" target="_blank" style="color:white">課程</a></li>
                            <li class="nav-item"><a href="~/shop/index" target="_blank" style="color:white">商城</a></li>
                            <li class="nav-item"><a href="~/healthboard/index" target="_blank" style="color:white">健康專欄</a></li>
                            <li class="nav-item"><a href="https://localhost:7168/member/Coachregistered" target="_blank" style="color:white">成為教練</a></li>
                            <li class="nav-item"><a href="https://localhost:7168/commit/gymcreate" target="_blank" style="color:white">提供場館</a></li>
                        </ul>
                    </div>
                    <div class="col-3 footer_list_block">
                        <div class="list_head fw-bold fs-5">條款與聲明</div>
                        <ul class="nav flex-column m-2">
                            <li class="nav-item"><a href="~/home/privacy" target="_blank" style="color:white">服務條款</a></li>
                            <li class="nav-item">隱私權政策</li>
                            <li class="nav-item">退款政策</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bottom text-muted">
            <div class="container w-75 text-black" id="copyright">
                &copy; 2024 FitConnect. All rights reserved.
            </div>
        </div>

    </footer>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        let nav = document.getElementById('mainNav');
        window.addEventListener('scroll', function () {
            if (window.scrollY === 0) {
                nav.style.backgroundColor = 'rgba(128, 128, 128, 1)';
            } else {
                nav.style.backgroundColor = 'rgba(128, 128, 128, 0.7)';
            }
        });
        (async () => {
            const hyperlink = document.querySelector('#hyperlinkoflogin');
            const mainul = document.querySelector('#mainul');
            var url = '@Url.Action("Login", "Session")';
            var response = await fetch(url);
            if (!response.ok) {
                hyperlink.href = 'https://localhost:7168/Home/login';
                mainul.style.display = 'none'
                return;
            } else {
                var user = await response.json();
                console.log("User:", user);
                const avatarimg = document.querySelector('#avatar-img');

                if (user.role_id == 3) {
                    hyperlink.href = 'https://localhost:7168/Admin';
                } else if (user.role_id == 2) {
                    hyperlink.href = 'https://localhost:7167/Coach/profile';
                    let coachResponse = await fetch('https://localhost:7199/api/Coach/' + user.id);
                    if (!coachResponse.ok)
                        return;
                    let coachdata = await coachResponse.json();
                    console.log('Login-coach', coachdata);
                    avatarimg.src = 'data:image/jpeg;base64,' + coachdata.coachDetailDto.photo;
                    avatarimg.style.border = '2px solid #FFFFAA';
                } else {
                    document.getElementById('mainli1').href = ''
                    document.getElementById('mainli1').href = ''
                    document.getElementById('mainli1').href = ''
                    hyperlink.href = 'https://localhost:7168/Member/profile';
                    let memberResponse = await fetch('https://localhost:7199/api/Member/users/' + user.id);
                    if (!memberResponse.ok)
                        return;
                    let memberdata = await memberResponse.json();
                    console.log('Login-member', memberdata);
                    avatarimg.src = 'data:image/jpeg;base64,' + memberdata.photo;
                    avatarimg.style.border = '2px solid #BBFFFF';
                }
            }
        })();
        window.embeddedChatbotConfig = {
            chatbotId: "vyCmxU5piN4WZoEN-ltXn",
            domain: "www.chatbase.co"
        }
    </script>
    <script src="https://www.chatbase.co/embed.min.js"
            chatbotId: "vyCmxU5piN4WZoEN-ltXn"
            domain="www.chatbase.co"
            defer>
    </script>
</body>
</html>