@{
    ViewData["Title"] = "Index";
}
@section Styles {
    <style>
        #content {
            width: 100%;
            overflow: hidden;
        }

        .article {
            width: 73%;
            float: right;
        }

        .section {
            background-color: lightslategray;
            border-radius: 5px;
            margin: 10px 0;
            padding: 20px 26px;
            line-height: 2em;
        }

        .aside {
            width: 23%;
            float: left;
        }

        .subtital {
            font-weight: 700;
            font-style: italic;
            color: #342081;
        }

        #autodiv {
            position: absolute;
            width:85%;
            margin-left:15px;
            top: 100%; /* Positions it directly below the input field */
            left: 0;
            right: 0;
            z-index: 1000; /* Ensures it appears above other elements */
            background-color: #FDFFFF;
            border: 1px solid #ccc; 
            border-top: none; 
        }

            #autodiv button {
                width: 100%;
                text-align: left;
            }

        .pagination-container {
            display: flex;
            justify-content: center;
            padding: 10px;
        }

        .pagination {
            display: flex;
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

            .pagination li {
                margin: 18px 5px;
            }

            .pagination a {
                text-decoration: none;
                color: black;
                padding: 8px 16px;
                border: 1px solid #ddd;
                border-radius: 4px;
            }

            .pagination .active a {
                background-color: cornflowerblue;
                color: white;
                border: 1px solid cornflowerblue;
            }

            .pagination a:hover:not(.active) {
                background-color: #ddd;
            }

        .tag {
            font-style: italic;
            color: lightblue;
        }

            .tag:hover {
                font-size: 1.02em;
                color: deepskyblue;
            }

        .hover {
            position: relative;
        }

            .hover::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border: 1px solid transparent;
                transition: border-color 0.3s;
                pointer-events: none;
            }

            .hover:hover::before {
                border-color: #0080FF;
                border-width: 3px;
            }

        .btn-track {
            border-radius: 50%; 
            padding: 10px; 
            border: 2px solid transparent; 
            display: inline-flex; 
            align-items: center; 
            justify-content: center; 
            background-color: white;
        }

            .btn-track:hover {
                border-color: #dc3545;
            }

        .btn-cart {
            border-radius: 50%;
            padding: 10px;
            border: 2px solid transparent;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background-color: white;
        }

            .btn-cart:hover {
                border-color: deepskyblue;
            }

        .btn-seemore {
            color: #fff;
            background-color: #ffc107;
            border-color: #ffc107;
            text-align:center;
            text-decoration: none;
            font-weight: 600;
        }

            .btn-seemore:hover {
                color: #fff;
                background-color: #0080FF;
                border-color: darkcyan;
                text-decoration: none;
            }

        .carousel-control-prev,
        .carousel-control-next {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

        .carousel-control-prev {
            left: -35px; /* Adjust the position from the left side */
        }

        .carousel-control-next {
            right: -35px; /* Adjust the position from the right side */
        }

        .carousel-control-prev-icon,
        .carousel-control-next-icon {
            background-color: #D0D0D0;
            border-radius: 50%;
            padding: 10px; /* Adjust the size as needed */
        }
    </style>
}


<div id="content">
    <aside class="aside">
        <section class="section" style="margin-top:90px">
            <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom:8px;">
                <h2 class="subtital">商品類別</h2>
                <button class="btn btn-outline-success" type="button" id="checkAll" value="0">
                    ALL
                </button>
            </div>
            <div class="list-group">
                <label class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="1">
                    乳清蛋白
                </label>
                <label class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="2">
                    健康食品
                </label>
                <label class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="3">
                    運動配件
                </label>
                <label class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="4">
                    健身器材
                </label>
                <label class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="5">
                    服飾
                </label>
            </div>
        </section>
        <section class="section" style="margin-top:100px;">
            <h2 class="subtital">熱門商品</h2>
            <div id="divpopular">
                <div class="card mb-3 hover" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="~/assets/img/fitlogo.png" class="img-fluid rounded-start" alt="...">
                            <h6 style="color:crimson">已售出 X</h6>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Top 1 goods</h5>
                                <p class="card-text" style="font-weight:600;font-style:italic;">$3.49USD</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </aside>
    <article class="article">
        <div class="row mb-3">
            <div class="col-4">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        --排序依據--
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#" data-type="productId">上架日期</a></li>
                        <li><a class="dropdown-item" href="#" data-type="unitPrice">價格</a></li>
                        <li><a class="dropdown-item" href="#" data-type="popular">熱門程度</a></li>
                        <li><a class="dropdown-item" data-type="categoryId">商品類別</a></li>
                    </ul>
                    <button class="btn btn-outline-secondary" style="margin-left:12px;" id="orderbtn">正序</button>
                </div>
            </div>
            <div class="col-4" style="text-align:right; position:relative;">
                <input type="search" placeholder="輸入搜尋商品..." class="form-control" id="inputSearch" />
                <div class="list-group" id="autodiv" style="position:absolute; top:100%; left:0; right:0; z-index:1000;">
                    <!-- Autocomplete suggestions will be appended here -->
                </div>
            </div>
            <div class="col-4" style="text-align:right;">
                <label class="form-check-label">顯示筆數：</label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" value="9" checked>
                    <label class="form-check-label" for="inlineRadio1">9</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" value="15">
                    <label class="form-check-label" for="inlineRadio2">15</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" value="24">
                    <label class="form-check-label" for="inlineRadio3">24</label>
                </div>
            </div>
        </div>
        <label class="form-check-label" style="color:darkgray;font-style:italic;" id="datafound">共??筆資料</label>
        <section class="section">
            <h2 class="subtital">商品</h2>
            <div class="row row-cols-1 row-cols-md-3 g-4" id="divmain">
                <div class="card" aria-hidden="true">
                    <img src="https://media.tenor.com/vNB3iUXsxnQAAAAC/loading-gif.gif" class="card-img-top" alt="Wait A minute...">
                    <div class="card-body">
                        <h5 class="card-title placeholder-glow">
                            <span class="placeholder col-6"></span>
                        </h5>
                        <p class="card-text placeholder-glow">
                            <span class="placeholder col-7"></span>
                            <span class="placeholder col-4"></span>
                            <span class="placeholder col-4"></span>
                            <span class="placeholder col-6"></span>
                            <span class="placeholder col-8"></span>
                        </p>
                        <a class="btn btn-primary disabled placeholder col-6" aria-disabled="true"></a>
                    </div>
                </div>
            </div>
        </section>
        <div class="pagination-container">
            <ul class="pagination" id="ulpaging">
                <li><a href="#" style="margin-right:16px; border:none;"><</a></li>
                <li><a href="#">1</a></li>
                <li class="page-item active" onclick="pagingHandler(3)"><a class="page-link">2</a></li>
                <li><a href="#" style="margin-left:16px; border:none;">></a></li>
            </ul>
        </div>
    </article>
</div>
<div style="width:100%;max-height:150px;margin:40px auto;position:relative;bottom">
    <section class="section" style="text-align:center;">
        <h2 class="subtital" style="font-size:2.5em;">推薦商品</h2>
        <div class="row row-cols-1 row-cols-md-5 g-4 m-1" id="divrecommend">
            <div class="card recommend m-3 hover" style="min-width:150px;padding-top:8px">
                <img class="card-img-top" src="~/assets/img/header-backgrd.jpg" alt=".C" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Joy</h4>
                    <span class="" style="font-style:italic;color:lightblue;">#category</span>
                    <p class="card-text">$1.99 USD</p>
                </div>
            </div>
        </div>
    </section>
</div>
<div style="padding-bottom:369px;">
    &emsp;
</div>

<!-- Modal -->
<div class="modal" id="producttrackModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" style="border-radius:10px; overflow:hidden;">
        <div class="modal-content" style="height:300px;width:400px;position:relative;border-radius:10px;border-color:#CECEFF;">
            <div class="modal-body" style="background-color:#ECFFFF; padding:0; position:relative; border-radius:10px;">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="position:absolute; top:10px; right:10px;"></button>
                <h5 style="position:absolute; top:10%; left:50%; transform:translate(-50%, -50%); color:#003D79; text-shadow: 1px 1px 2px #D9FFFF; font-weight:700;">加入追蹤成功!</h5>
                <img src="https://cdn.dribbble.com/users/1154535/screenshots/3288650/dribbble-success-2.gif" alt="success" style="height:100%; width:100%; object-fit:cover; border-radius:10px;border-color:#CECEFF;">
            </div>
        </div>
    </div>
</div>
<div class="modal" id="alreadytrackModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" style="border-radius:10px; overflow:hidden;">
        <div class="modal-content" style="height:300px;width:400px;position:relative;border-radius:20px;border-color:#CECEFF;">
            <div class="modal-body" style="background-color:#FFED97; padding:0; position:relative; border-radius:10px;">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="position:absolute; top:10px; right:10px;"></button>
                <h5 style="position:absolute; top:10%; left:50%; transform:translate(-50%, -50%); color:#272727; text-shadow: 1px 1px 2px #FFFFDF; font-weight:700;">已追蹤商品~</h5>
                <img src="https://cdn.dribbble.com/users/5669337/screenshots/13958426/light_bulb.gif" alt="Already" style="height:100%; width:100%; object-fit:cover; border-radius:20px;border-color:#CECEFF;">
            </div>
        </div>
    </div>
</div>
<div class="modal" id="shoppingcartModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" style="border-radius:10px; overflow:hidden;">
        <div class="modal-content" style="height:300px;width:400px;position:relative;border-radius:10px;border-color:#DFFFDF;">
            <div class="modal-body" style="background-color:#FBFFFD; padding:0; position:relative; border-radius:10px;">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="position:absolute; top:10px; right:10px;"></button>
                <h5 style="position:absolute; top:10%; left:50%; transform:translate(-50%, -50%); color:#01814A; text-shadow: 1px 1px 2px #DEFFAC; font-weight:700;">加入購物車!</h5>
                <img src="https://cdn.dribbble.com/users/39201/screenshots/3694057/nutmeg.gif" alt="success" style="height:100%; width:100%; object-fit:cover; border-radius:10px;border-color:#DFFFDF;">
            </div>
        </div>
    </div>
</div>
<div class="modal" id="failedModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" style="border-radius:10px; overflow:hidden;">
        <div class="modal-content" style="height:300px;width:400px;position:relative;border-radius:10px;border-color:#FFECEC;">
            <div class="modal-body" style="background-color:#FBFFFD; padding:0; position:relative; border-radius:10px;">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="position:absolute; top:10px; right:10px;"></button>
                <h5 style="position:absolute; top:10%; left:50%; transform:translate(-50%, -50%); color:#600000; text-shadow: 1px 1px 2px #FFD9EC; font-weight:700;">加入失敗</h5>
                <img src="https://i.giphy.com/pjFF8YLW996aXqFHAu.webp" alt="Failed" style="height:100%; width:100%; object-fit:cover; border-radius:10px;border-color:#FFECEC;">
            </div>
        </div>
    </div>
</div>

<div class="modal" id="unloginlModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered m-auto">
        <div class="modal-content" style="position:relative;border-radius:15px;border-color:#FFECEC;">
            <div class="modal-body" style="background-color:#ECFFFF; padding:0; position:relative; border-radius:15px;">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="position:absolute; top:10px; right:10px;"></button>
                <p style="position:absolute; top:10%; left:50%; transform:translate(-50%, -50%); color:#003D79; text-shadow: 1px 1px 2px #D7FFEE; font-weight:900;font-size:2.5em;">尚未登入</p>
                <img src="https://cdn.pixabay.com/animation/2022/12/01/17/03/17-03-11-60_512.gif" alt="Failed" style="height:100%; width:100%; object-fit:cover; border-radius:15px;border-color:#ECFFFF;">
                <a href="https://localhost:7168/Home/Login" class="btn btn-primary" id="headtologin" style="position:absolute; top:90%; left:50%; transform:translate(-50%, -50%);">前往登入--></a>
            </div>
        </div>
    </div>
</div>
@{
    var loginMemberID = ViewBag.ID != null ? ViewBag.ID : 0;
}
@section Scripts {
    <script>
        const LoginMemberID = "@loginMemberID";
        console.log('LoginMemberID', LoginMemberID);
        let MaxPage = 0;
        const divMain = document.getElementById('divmain');
        const ulPaging = document.getElementById('ulpaging');
        const checkboxAll = document.getElementById('checkAll');
        const everyCheckBox = document.querySelectorAll('.form-check-input.me-1');
        const popular = document.querySelector('#divpopular');
        const typeofsort = document.querySelectorAll('.dropdown-item');
        const orderby = document.getElementById('orderbtn');
        const inpSearch = document.querySelector('#inputSearch');
        const pagesize = document.querySelectorAll('[name="inlineRadioOptions"]');
        const recommend = document.querySelector('#divrecommend');
        const unloginlModal = new bootstrap.Modal(document.getElementById('unloginlModal'));
        const searchData = {
            "categoryId": 0,
            "keyword": "",
            "page": 1,
            "pageSize": 9,
            "sortBy": "",
            "sortType": "asc"
        };
        document.querySelector('#bannerTitle').style.display = 'block';
        document.querySelector('#bannerTitle').textContent = '商城';
        //aside---------------------------------------------------------------------------------------------------------
        checkboxAll.addEventListener('click', function () {
            for (var item of everyCheckBox) {
                item.checked = false;
            }
            searchData.categoryId = this.value;
            CategoryloadProducts();
        });
        //類別分類#CheckBox
        everyCheckBox.forEach(item => item.addEventListener('change', async () => {
            await CategoryloadProducts();
        }));
        //熱門商品
        const PopularProducts = async () => {
            let url = 'https://localhost:7199/api/Products/search';
            let response = await fetch(url, {
                method: 'POST',
                body: JSON.stringify({
                    "categoryId": 0,
                    "keyword": "",
                    "page": 1,
                    "pageSize": 3,
                    "sortBy": "popular",
                    "sortType": "asc"
                }),
                headers: {
                    'Content-Type': 'application/json'
                }
            });
            let data = await response.json();
            //console.log('PopularProducts', data.productsResult);
            //顯示資料
            const goods = data.productsResult.map(good => {
                //data:image/jpeg;base64,${good.productImage}
                //merchandise/${good.productId}
                return (`<a href="https://localhost:7168/shop/merchandise/${good.productId}" style="text-decoration:none;">
                           <div class="card mb-3 hover" style="max-width: 540px;">
                            <div class="row g-0">
                             <div class="col-md-4" style="text-align:center; padding-top:10px;">
                               <img src="data:image/jpeg;base64,${good.productImage}" class="img-fluid rounded-start" alt="Top3">
                                 <h6 style="font-size:0.5em;color:white;text-shadow:-1px -1px 0 crimson, 1px -1px 0 red,-1px  1px 0 red,1px  1px 0 crimson;">已售出 ${good.productSold}</h6>
                             </div>
                             <div class="col-md-8">
                              <div class="card-body">
                                <h6 class="card-title">${good.productName}</h6>
                                <p class="card-text" style="font-weight:400;font-style:italic;">$${good.unitPrice}NTD</p>
                              </div>
                             </div>
                            </div>
                           </div>
                          </a>`)
            })
            popular.innerHTML = goods.join("");
        }

        //main---------------------------------------------------------------------------------------------------------
        //排序依據
        for (var type of typeofsort) {
            type.addEventListener('click', function () {
                console.log(this.dataset.type);
                searchData.sortBy = this.dataset.type;
                searchData.page = 1;
                CategoryloadProducts();
            })
        }
        //排序
        var orderClicked = true;
        orderby.addEventListener('click', (event) => {
            console.log(event.target);
            if (orderClicked) {
                event.target.textContent = "倒序";
                event.target.className = "btn btn-secondary";
                orderClicked = false;
                searchData.sortType = "desc";
                CategoryloadProducts();
            } else {
                event.target.textContent = "正序";
                event.target.className = "btn btn-outline-secondary";
                orderClicked = true;
                searchData.sortType = "asc";
                CategoryloadProducts();
            }
        });
        //搜尋關鍵字
        inpSearch.addEventListener('keydown', event => {
            if (event.keyCode === 13) {
                if (event.target.value != null)
                    searchData.keyword = event.target.value;
                else
                    searchData.keyword = "";
                searchData.categoryId = 0;
                searchData.page = 1;
                CategoryloadProducts();
            }
        })
        //autocomplete
        inpSearch.addEventListener('input', async (event) => {
            if (inpSearch.value === "") { document.getElementById('autodiv').innerHTML = ""; return; }
            if (event.target.matches('#inputSearch, #inputSearch *')) {
                let url = 'https://localhost:7199/api/Products/search';
                let response = await fetch(url, {
                    method: 'POST',
                    body: JSON.stringify({
                        "categoryId": 0,
                        "keyword": "",
                        "page": 1,
                        "pageSize": 999,
                        "sortBy": "",
                        "sortType": "asc"
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });
                let data = await response.json();
                var s = "",count=0;
                for (let i of data.productsResult) {
                    if (i.productName.includes(inpSearch.value)) {
                        count++;
                        //console.log(i.productName);
                        if (count <= 3) { 
                             s += `<button type="button" 
                                         class="list-group-item list-group-item-action"
                                         onclick="autobtnClicked(event)"
                                         value="${i.productName}">${i.productName}</button>`
                        }
                    }
                };
                document.getElementById('autodiv').innerHTML = s;
            }
        });
        function autobtnClicked(event) {
            //console.log(event.target.value);
            inpSearch.value = event.target.value;
            //console.log(inpSearch.value);
            searchData.keyword = event.target.value;
            searchData.categoryId = 0;
            searchData.page = 1;
            document.getElementById('autodiv').innerHTML = "";
            CategoryloadProducts();
        }
        //顯示筆數
        for (var radio of pagesize) {
            //console.log(radio.value);
            radio.addEventListener('click', function () {
                searchData.pageSize = this.value;
                searchData.page = 1;
                CategoryloadProducts();
            })
        }
        //加入追蹤
        function showProductTrackModal() {
            const modal = new bootstrap.Modal(document.getElementById('producttrackModal'));
            modal.show();
            setTimeout(() => {
                modal.hide();
            }, 2468);
        }
        function showAlreadyTrackModal() {
            const modal = new bootstrap.Modal(document.getElementById('alreadytrackModal'));
            modal.show();
            setTimeout(() => {
                modal.hide();
            }, 999);
        }
        async function track(event, productId) {
            if (LoginMemberID === '0') {
                unloginlModal.show();
                return;
            }
            const trackingImg = '<img src="https://cdn3.iconfinder.com/data/icons/emoji-1-4/64/_love_heart_smiley-32.png" />';
            const trackedImg = '<img src="https://cdn4.iconfinder.com/data/icons/twitter-29/512/166_Heart_Love_Like_Twitter-32.png" />';

            let url = 'https://localhost:7199/api/ProductTrack?memberId=' + LoginMemberID + '&productId=' + productId;
            let response = await fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            });
            let data = await response.text();

            if (response.ok) {
                if (data === 'Tracked') {
                    event.innerHTML = trackingImg;
                    showProductTrackModal();
                } else {
                    event.innerHTML = trackedImg;
                    showAlreadyTrackModal();
                }
            }
        }
        //加入購物車
        function showShoppingcartModal() {
            const modal = new bootstrap.Modal(document.getElementById('shoppingcartModal'));
            modal.show();
            setTimeout(() => {
                modal.hide();
            }, 2468);
        }
        function showFailedModal() {
            const modal = new bootstrap.Modal(document.getElementById('failedModal'));
            modal.show();
            setTimeout(() => {
                modal.hide();
            }, 1357);
        }
        async function addtocart(event, productId) {
            if (LoginMemberID === '0') {
                unloginlModal.show();
                return;
            }
            console.log(productId);

            const CartAddedImg = '<img src="https://cdn3.iconfinder.com/data/icons/ui-61/32/cart6-32.png" />';
            event.innerHTML = CartAddedImg;
            let url = 'https://localhost:7199/api/Shoppingcarts?memberId=' + LoginMemberID + '&productId=' + productId + '&quantity=' + 1;
            let response = await fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            });
            let data = await response.text();

            if (response.ok) {
                if (data === 'AddToCart') {
                    showShoppingcartModal();
                } else {
                    showFailedModal();
                }
            }
        }
        //換頁按鈕
        const CategorypagingHandler = (event,page) => {
            console.log(event);
            if (page === -1) {page = 1; }
            if (page === 0) {page = MaxPage; }
            searchData.page = page;
            console.log(searchData.page);
            CategoryloadProducts();
        }

        //bottom---------------------------------------------------------------------------------------------------------
        //推薦商品
        const RecommendProducts = async () => {
            let url = 'https://localhost:7199/api/Products/search';
            let response = await fetch(url, {
                method: 'POST',
                body: JSON.stringify({
                    "categoryId": searchData.categoryId,
                    "keyword": "",
                    "page": 1,
                    "pageSize": 5,
                    "sortBy": "",
                    "sortType": "asc"
                }),
                headers: {
                    'Content-Type': 'application/json'
                }
            });
            let data = await response.json();
            //console.log('RecommendProducts', data.productsResult);
            //顯示資料
            const goods = data.productsResult.map(good => {
                //data:image/jpeg;base64,${good.productImage}
                return (` <a href="https://localhost:7168/shop/merchandise/${good.productId}" style="text-decoration:none;">
                            <div class="card recommend m-auto hover" style="min-width:150px;padding-top:8px">
                                  <img class="card-img-top" src="data:image/jpeg;base64,${good.productImage}" alt="recommend" style="width:100%">
                                  <div class="card-body">
                                    <h6 class="card-title">${good.productName}</h6>
                                    <span class="" style="font-style:italic;color:lightblue;">#${good.productCategory}</span>
                                    <p class="card-text">$${good.unitPrice}NTD</p>
                                </div> </div></a>`)
            })
            recommend.innerHTML = goods.join("");
        }

        //載入商品資料
        const CategoryloadProducts = async () => {
            var allCount = 0; var allData = []; var s = "";
            pickedPage = searchData.page;
            searchData.page = 1;
            searchData.pageSize = 45;
            for (var all of everyCheckBox) {
                //尋找CheckBox (that been checked) value.
                if (all.checked) {
                    //console.log(all.value);
                    searchData.categoryId = all.value;
                    let url = 'https://localhost:7199/api/Products/search';
                    let response = await fetch(url, {
                        method: 'POST',
                        body: JSON.stringify(searchData),
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    });
                    let data = await response.json();
                    //console.log(data.productsResult);
                    allData.push(...data.productsResult);
                    allCount += data.totalCount;
                }
            }
            if (!allCount) {
                searchData.categoryId = 0;
                let url = 'https://localhost:7199/api/Products/search';
                let response = await fetch(url, {
                    method: 'POST',
                    body: JSON.stringify(searchData),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });
                let data = await response.json();
                allCount = data.totalCount;
                allData = data.productsResult;
            }
            // console.log('allData', allData);
            // console.log('totalcount', allCount);
            // console.log('PageNow', pickedPage);
            for (var radio of pagesize) { if (radio.checked) searchData.pageSize = radio.value; }//尋找Current-PageSize
            //顯示資料
            document.getElementById('datafound').innerHTML = `共${allCount}筆資料`;
            currentPosition = allCount - (allCount - (pickedPage - 1) * searchData.pageSize);
            var loop = searchData.pageSize;
            if ((allCount - currentPosition) < searchData.pageSize) loop = (allCount - currentPosition);
            for (var i = 0; i < loop; i++) {
                //console.log(allData[i].productId);
                position = currentPosition + i;
                s += `<div class="col">
                       <div class="card h-100 hover">
                        <img src="data:image/jpeg;base64,${allData[position].productImage}" class="card-img-top" alt="${allData[position].productName}">
                         <div class="card-body">
                          <h5 class="card-title">${allData[position].productName}</h5>
                         <div style="text-align:right;float:right;">
                         <button type="button" class="btn btn-track" onclick="track(this,${allData[position].productId})">
                          <img src="https://cdn0.iconfinder.com/data/icons/typicons-2/24/heart-outline-32.png"  title="加入追蹤"/>
                         </button>
                         <button type="button" class="btn btn-cart" onclick="addtocart(this,${allData[position].productId})">
                          <img src="https://cdn4.iconfinder.com/data/icons/basic-ui-2-line/32/shopping-cart-shop-drop-trolly-32.png" title="加入購物車"/>
                         </button>
                        </div>
                        <label class="tag" data-Id="${allData[position].productCategoryId}">#${allData[position].productCategory}</label>
                        <p class="card-text">$${allData[position].unitPrice}NTD</p>
                       </div>
                       <div class="d-grid gap-2">
                       <a href="https://localhost:7168/shop/merchandise/${allData[position].productId}" class="btn-seemore">商品詳細</a>
                       </div></div></div>`
            }
            divMain.innerHTML = s;
            //category,Tag
            const categoryTag = document.querySelectorAll('.tag');
            for (var card of categoryTag) {
                card.addEventListener('click', function () {
                    //console.log(this.dataset.id);
                    for (var item of everyCheckBox) {
                        if (this.dataset.id == item.value) item.checked = true;
                        else item.checked = false;
                    }
                    searchData.categoryId = this.dataset.id;
                    searchData.page = 1;
                    CategoryloadProducts();
                });
            }
            //Track-hover
            document.querySelectorAll('.btn-track').forEach(button => {
                const img = button.querySelector('img');
                button.addEventListener('mouseover', () => {
                    img.src = 'https://cdn4.iconfinder.com/data/icons/twitter-29/512/166_Heart_Love_Like_Twitter-32.png';
                });
                button.addEventListener('mouseout', () => {
                    img.src = 'https://cdn0.iconfinder.com/data/icons/typicons-2/24/heart-outline-32.png';
                });
            });
            //Cart-hover
            document.querySelectorAll('.btn-cart').forEach(button => {
                const img = button.querySelector('img');
                button.addEventListener('mouseover', () => {
                    img.src = 'https://cdn3.iconfinder.com/data/icons/ui-61/32/cart6-32.png';
                });
                button.addEventListener('mouseout', () => {
                    img.src = 'https://cdn4.iconfinder.com/data/icons/basic-ui-2-line/32/shopping-cart-shop-drop-trolly-32.png';
                });
            });
            //顯示分頁按鈕
            let liPages = "", pageCount = 0;
            MaxPage = Math.ceil(allCount / searchData.pageSize);
            var currentPage = pickedPage;
            for (let i = 1; i <= MaxPage; i++) {
                pageCount++;
                if (currentPage == i)
                    liPages += `<li class="page-item active" onclick="CategorypagingHandler(this,${i})"><a class="page-link" href="#">${i}</a></li>`
                else
                    liPages += `<li class="page-item" onclick="CategorypagingHandler(this,${i})"><a class="page-link" href="#">${i}</a></li>`
            }
            ulPaging.innerHTML = '<li class="page-item" onclick="CategorypagingHandler(this,-1)"><a class="page-link" href="#" style = "margin-right:16px;">|<</a></li>' + liPages + '<li class="page-item" onclick="CategorypagingHandler(this,0)"><a class="page-link" href="#" style = "margin-left:16px;">>|</a></li>';

            //推薦商品
            RecommendProducts();
            //熱門商品
            PopularProducts();
        }
        CategoryloadProducts();
    </script>
}
