@{
    ViewData["Title"] = "merchandise";
}

@section Styles {
    <style>
        #content {
            width: 99%;
            overflow: hidden;
            margin: 5px auto;
        }

        .main-top{
            width: 100%;
            margin: auto;
            display: flex;
            align-items: center;
            margin: 40px auto;
            background-color: #FDFFFF;
            border-radius: 33px 0 0 0;
            border-right: 5px double #003060;
            box-shadow: 3px 0 0 #000093, 0 5px 10px rgba(0, 0, 0, 0.3);
            padding:50px 50px 50px 30px;
        }

        .btn-track {
            border-radius: 15px;
            padding: 10px;
            border: 2px solid #4F4F4F;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background-color: white;
            font-weight:700;
        }

            .btn-track:hover {
                border-color: #dc3545;
                font-style:italic;
                color: #930000;
                text-shadow: 2px 1px 0.8px #FFD0FF;
            }

        .btn-cart {
            border-radius: 15px;
            padding: 10px;
            border: 2px solid #4F4F4F;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background-color: white;
            font-weight: 700;
        }

            .btn-cart:hover {
                border-color: deepskyblue;
                font-style: italic;
                color: #003060;
                text-shadow: 2px 1px 0.8px #D2E9FF;
            }

        .article {
            width: 73%;
            float: right;
        }

        .section {
            background-color: #FBFBFF;
            border: 3px solid #FFD306;
            border-radius: 15px;
            margin: 10px 0;
            padding: 20px 26px;
            line-height: 2em;
        }

        .aside {
            width: 24%;
            float: left;
        }

        .zoom-container {
            overflow: hidden;
        }

        .zoom-img {
            transition: transform 0.5s ease;
            border-radius: 33px 0 0 0;
        }

        .zoom-container:hover .zoom-img {
            transform: scale(1.2);
        }

        .hover {
            position: relative;
        }

            .hover::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border: 1px solid transparent;
                transition: border-color 0.3s;
                pointer-events: none;
            }

            .hover:hover::before {
                border-color: #0080FF;
                border-width: 3px;
            }

        .square-btn {
            margin-right:13px;
            width: 100px;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            text-align: center;
            font-weight: 600;
            font-family: 'Microsoft JhengHei', Arial, sans-serif;
            border-radius:100px;
            background-color: #FF8000;
            border: 3px double #FF2D2D;
        }

            .square-btn:hover {
                background-color: #AE0000;
            }

        .subtital{
            font-weight:700;
            font-style:italic;
            text-decoration:underline;
            margin-bottom:15px;
            color: #530766;
        }
    </style>
}
<div style="padding-bottom:100px;">
    &emsp;
</div>
<div class="main-top">
    <div style="width:100%">
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel" style="max-width: 440px; max-height: 600px;">
            <div class="carousel-inner" id="divimage">
                <div class="carousel-item active">
                    <div class="zoom-container">
                        <img src="https://media.tenor.com/vNB3iUXsxnQAAAAC/loading-gif.gif" class="d-block w-100 h-auto zoom-img" alt="...">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="zoom-container">
                        <img src="https://thumb.ac-illust.com/f1/f138ce399f19d54fc308ecd82dedd105_t.jpeg" class="d-block w-100 h-auto zoom-img" alt="...">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="zoom-container">
                        <img src="https://th.bing.com/th/id/OIP.oX-GhPy_vxElwWNphXC7cQHaKe?w=842&h=1191&rs=1&pid=ImgDetMain" class="d-block w-100 h-auto zoom-img" alt="...">
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div style="width:98%;">
        <div id="divinfo">
            <h2 style="font-weight: 600; font-family: 'Microsoft JhengHei', Arial, sans-serif;">merch title</h2>
            <a href="https://localhost:7168/shop/" style="text-decoration:none;">
                <h5 style="font-style:italic;color:	#000079;">#category</h5>
            </a><br /><br />
            <h6 class="card-text" style="font-weight:600;font-style:italic;">$79.99 USD</h6>
        </div><br />
        
        <div style="float:left;">
            <label class="t">購買數量：</label>
        <div class="input-group mb-3" style="width:69%;">
            <button class="btn btn-secondary" id="btnminus">-</button>
            <input type="text" name="inppurchase" min="1" max="20" step="1" class="form-control" value="1" style="text-align:center;" />
            <button class="btn btn-primary" id="btnplus">+</button>
        </div> <br />
            <button type="button" class="btn btn-track">
                <img src="https://cdn0.iconfinder.com/data/icons/typicons-2/24/heart-outline-32.png" style="margin-right:8px;" />
            追蹤
        </button>
            <button type="button" class="btn btn-cart">
            <img src="https://cdn4.iconfinder.com/data/icons/basic-ui-2-line/32/shopping-cart-shop-drop-trolly-32.png" style="margin-right:8px;"/>
            加入購物車
        </button></div>
        <div style="float:right;">
            <button type="button" class="btn square-btn" id="purchase-now">立即購買</button>
        </div>
    </div>
</div>


<div id="content">
    <aside class="aside">
        <section class="section">
            <div style=" margin-bottom:8px;">
                <nav class="nav flex-column">
                    <a class="nav-link" href="https://localhost:7168/shop/">回到商城</a>
                    <a class="nav-link" href="#">健康專欄</a>
                    <a class="nav-link" href="#">我的收藏</a>
                    <a class="nav-link" href="#">購物車</a>
                </nav>
            </div>
        </section>
        <section class="section" style="margin-top:50px;">
            <h2 class="subtital">熱門商品</h2>
            <div id="divpopular">
                <div class="card mb-3 hover" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="~/assets/img/fitlogo.png" class="img-fluid rounded-start" alt="...">
                            <h6 style="color:crimson">已售出 X</h6>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Top 1 goods</h5>
                                <p class="card-text" style="font-weight:600;font-style:italic;">$3.49USD</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </aside>
    <article class="article">
        <section class="section">
            <h2 class="subtital">商品介紹</h2>
            <div id="divdetail"></div>
        </section>
    </article>
</div>
<div style="width:80%;max-height:150px;margin:40px auto;">
    <section class="section" style="text-align:center; background-color:lightslategray;border:none;">
        <h2 class="subtital">為您推薦</h2>
        <div class="row row-cols-1 row-cols-md-6 g-4 m-auto" id="divrecommend">
            <div class="card m-2 hover" style="min-width:150px;padding-top:8px;">
                <img class="card-img-top" src="~/assets/img/header-backgrd.jpg" alt=".C" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Joy</h4>
                    <span class="" style="font-style:italic;color:lightblue;">#category</span>
                    <p class="card-text">$1.99 USD</p>
                </div>
            </div>
        </div>
    </section>
</div>
<div style="padding-bottom:256px;">
    &emsp;
</div>

<!-- Modal -->
<div class="modal" id="producttrackModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" style="border-radius:10px; overflow:hidden;">
        <div class="modal-content" style="height:300px;width:400px;position:relative;border-radius:10px;border-color:#CECEFF;">
            <div class="modal-body" style="background-color:#ECFFFF; padding:0; position:relative; border-radius:10px;">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="position:absolute; top:10px; right:10px;"></button>
                <h5 style="position:absolute; top:10%; left:50%; transform:translate(-50%, -50%); color:#003D79; text-shadow: 1px 1px 2px #D9FFFF; font-weight:700;">加入追蹤成功!</h5>
                <img src="https://cdn.dribbble.com/users/1154535/screenshots/3288650/dribbble-success-2.gif" alt="success" style="height:100%; width:100%; object-fit:cover; border-radius:10px;border-color:#CECEFF;">
            </div>
        </div>
    </div>
</div>
<div class="modal" id="alreadytrackModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" style="border-radius:10px; overflow:hidden;">
        <div class="modal-content" style="height:300px;width:400px;position:relative;border-radius:20px;border-color:#CECEFF;">
            <div class="modal-body" style="background-color:#FFED97; padding:0; position:relative; border-radius:10px;">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="position:absolute; top:10px; right:10px;"></button>
                <h5 style="position:absolute; top:10%; left:50%; transform:translate(-50%, -50%); color:#272727; text-shadow: 1px 1px 2px #FFFFDF; font-weight:700;">已追蹤商品~</h5>
                <img src="https://cdn.dribbble.com/users/5669337/screenshots/13958426/light_bulb.gif" alt="Already" style="height:100%; width:100%; object-fit:cover; border-radius:20px;border-color:#CECEFF;">
            </div>
        </div>
    </div>
</div>
<div class="modal" id="shoppingcartModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" style="border-radius:10px; overflow:hidden;">
        <div class="modal-content" style="height:300px;width:400px;position:relative;border-radius:10px;border-color:#DFFFDF;">
            <div class="modal-body" style="background-color:#FBFFFD; padding:0; position:relative; border-radius:10px;">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="position:absolute; top:10px; right:10px;"></button>
                <h5 style="position:absolute; top:10%; left:50%; transform:translate(-50%, -50%); color:#01814A; text-shadow: 1px 1px 2px #DEFFAC; font-weight:700;">加入購物車!</h5>
                <img src="https://cdn.dribbble.com/users/39201/screenshots/3694057/nutmeg.gif" alt="success" style="height:100%; width:100%; object-fit:cover; border-radius:10px;border-color:#DFFFDF;">
            </div>
        </div>
    </div>
</div>
<div class="modal" id="failedModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" style="border-radius:10px; overflow:hidden;">
        <div class="modal-content" style="height:300px;width:400px;position:relative;border-radius:10px;border-color:#FFECEC;">
            <div class="modal-body" style="background-color:#FBFFFD; padding:0; position:relative; border-radius:10px;">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="position:absolute; top:10px; right:10px;"></button>
                <h5 style="position:absolute; top:10%; left:50%; transform:translate(-50%, -50%); color:#600000; text-shadow: 1px 1px 2px #FFD9EC; font-weight:700;">加入失敗</h5>
                <img src="https://i.giphy.com/pjFF8YLW996aXqFHAu.webp" alt="Failed" style="height:100%; width:100%; object-fit:cover; border-radius:10px;border-color:#FFECEC;">
            </div>
        </div>
    </div>
</div>

<div class="modal" id="unloginlModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered m-auto">
        <div class="modal-content" style="position:relative;border-radius:15px;border-color:#FFECEC;">
            <div class="modal-body" style="background-color:#ECFFFF; padding:0; position:relative; border-radius:15px;">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="position:absolute; top:10px; right:10px;"></button>
                <p style="position:absolute; top:10%; left:50%; transform:translate(-50%, -50%); color:#003D79; text-shadow: 1px 1px 2px #D7FFEE; font-weight:900;font-size:2.5em;">尚未登入</p>
                <img src="https://cdn.pixabay.com/animation/2022/12/01/17/03/17-03-11-60_512.gif" alt="Failed" style="height:100%; width:100%; object-fit:cover; border-radius:15px;border-color:#ECFFFF;">
                <a href="https://localhost:7168/Home/Login" class="btn btn-primary" id="headtologin" style="position:absolute; top:90%; left:50%; transform:translate(-50%, -50%);">前往登入--></a>
            </div>
        </div>
    </div>
</div>
@{
    var loginMemberID = ViewBag.ID != null ? ViewBag.ID : 0;
}
@section Scripts {
    <script>
        const LoginMemberID = "@loginMemberID";
        console.log('LoginMemberID', LoginMemberID);
        const productID = @ViewBag.productid;
        const productDetail = document.querySelector('#divdetail');
        const productImage = document.querySelector('#divimage');
        const productInfo = document.querySelector('#divinfo');
        const plus = document.querySelector('#btnplus');
        const minus = document.querySelector('#btnminus');
        const purchase = document.getElementsByName("inppurchase")[0];
        const popular = document.querySelector('#divpopular');
        const recommend = document.querySelector('#divrecommend');
        const unloginlModal = new bootstrap.Modal(document.getElementById('unloginlModal'));

        //top---------------------------------------------------------------------------------------------------------
        //數量
        purchase.addEventListener('blur', event => {
            const value = parseFloat(event.target.value);
            const max = parseFloat(event.target.max);
            const min = parseFloat(event.target.min);
            if (value >= max)
                event.target.value = max.toString();
            if (value <= min)
                event.target.value = min.toString();
        });
        plus.addEventListener('click', () => { if ((+purchase.value + 1) > purchase.max) return; purchase.value = (+purchase.value + 1); })
        minus.addEventListener('click', () => { if ((+purchase.value - 1) < purchase.min) return; purchase.value = (+purchase.value - 1); })
        // 追蹤按鈕
        function showProductTrackModal() {
            const modal = new bootstrap.Modal(document.getElementById('producttrackModal'));
            modal.show();
            setTimeout(() => {
                modal.hide();
            }, 2468);
        }
        function showAlreadyTrackModal() {
            const modal = new bootstrap.Modal(document.getElementById('alreadytrackModal'));
            modal.show();
            setTimeout(() => {
                modal.hide();
            }, 999);
        }
        const trackButton = document.querySelector('.btn-track');
        if (trackButton) {
            const trackImg = trackButton.querySelector('img');
            let isTracked = false;

            trackButton.addEventListener('mouseover', () => {
                if (!isTracked) {
                    trackImg.src = 'https://cdn4.iconfinder.com/data/icons/twitter-29/512/166_Heart_Love_Like_Twitter-32.png';
                }
            });
            trackButton.addEventListener('mouseout', () => {
                if (!isTracked) {
                    trackImg.src = 'https://cdn0.iconfinder.com/data/icons/typicons-2/24/heart-outline-32.png';
                }
            });
            trackButton.addEventListener('click', async () => {
                if (LoginMemberID === '0') {
                    unloginlModal.show();
                    return;
                }
                trackImg.src = 'https://cdn4.iconfinder.com/data/icons/twitter-29/512/166_Heart_Love_Like_Twitter-32.png';
                isTracked = true;

                let url = 'https://localhost:7199/api/ProductTrack?memberId=' + LoginMemberID + '&productId=' + productID;
                let response = await fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });
                let data = await response.text();

                if (response.ok) {
                    if (data === 'Tracked') {
                        showProductTrackModal();
                    } else {
                        showAlreadyTrackModal();
                    }
                }
            });
        }
        // 購物車按鈕
        function showShoppingcartModal() {
            const modal = new bootstrap.Modal(document.getElementById('shoppingcartModal'));
            modal.show();
            setTimeout(() => {
                modal.hide();
            }, 2468);
        }
        function showFailedModal() {
            const modal = new bootstrap.Modal(document.getElementById('failedModal'));
            modal.show();
            setTimeout(() => {
                modal.hide();
            }, 1357);
        }
        const cartButton = document.querySelector('.btn-cart');
        if (cartButton) {
            const cartImg = cartButton.querySelector('img');
            cartButton.addEventListener('mouseover', () => {
                cartImg.src = 'https://cdn3.iconfinder.com/data/icons/ui-61/32/cart6-32.png';
            });
            cartButton.addEventListener('mouseout', () => {
                cartImg.src = 'https://cdn4.iconfinder.com/data/icons/basic-ui-2-line/32/shopping-cart-shop-drop-trolly-32.png';
            });
            cartButton.addEventListener('click', async () => {
                if (LoginMemberID === '0') {
                    unloginlModal.show();
                    return;
                }
                //console.log(purchase.value);
                let url = 'https://localhost:7199/api/Shoppingcarts?memberId=' + LoginMemberID + '&productId=' + productID + '&quantity=' + purchase.value;
                let response = await fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });
                let data = await response.text();

                if (response.ok) {
                    if (data === 'AddToCart') {
                        showShoppingcartModal();
                    } else {
                        showFailedModal();
                    }
                }
            });
        }
        //立即購買
        document.querySelector('#purchase-now').addEventListener('click', async() => {
            if (LoginMemberID === '0') {
                unloginlModal.show();
                return;
            }
            //console.log(purchase.value);
            let url = 'https://localhost:7199/api/Shoppingcarts?memberId=' + LoginMemberID + '&productId=' + productID + '&quantity=' + purchase.value;
            let response = await fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            });
            let data = await response.text();
            if (response.ok) {
                setTimeout(() => {
                    window.location.assign('https://localhost:7168/linepay/shoppingcart');
                }, 100);
            } else {
                showFailedModal();
            }
        })

        //left---------------------------------------------------------------------------------------------------------
        //熱門商品
        const PopularProducts = async () => {
            let url = 'https://localhost:7199/api/Products/search';
            let response = await fetch(url, {
                method: 'POST',
                body: JSON.stringify({
                    "categoryId": 0,
                    "keyword": "",
                    "page": 1,
                    "pageSize": 3,
                    "sortBy": "popular",
                    "sortType": "asc"
                }),
                headers: {
                    'Content-Type': 'application/json'
                }
            });
            let data = await response.json();
            //console.log('PopularProducts', data.productsResult);
            //顯示資料
            const goods = data.productsResult.map(good => {
                //data:image/jpeg;base64,${good.productImage}
                //merchandise/${good.productId}
                return (`<a href="${good.productId}" style="text-decoration:none;">
                                   <div class="card mb-3 hover" style="max-width: 540px;">
                                    <div class="row g-0">
                                     <div class="col-md-4" style="text-align:center; padding-top:10px">
                                       <img src="data:image/jpeg;base64,${good.productImage}" class="img-fluid rounded-start" alt="Top3">
                                         <h6 style="font-size:0.5em;color:white;text-shadow:-1px -1px 0 crimson, 1px -1px 0 red,-1px  1px 0 red,1px  1px 0 crimson;">已售出 ${good.productSold}</h6>
                                     </div>
                                     <div class="col-md-8">
                                      <div class="card-body">
                                        <h6 class="card-title">${good.productName}</h6>
                                        <p class="card-text" style="font-weight:400;font-style:italic;">$${good.unitPrice}NTD</p>
                                      </div>
                                     </div>
                                    </div>
                                   </div>
                                  </a>`)
            })
            popular.innerHTML = goods.join("");
        }

        //right---------------------------------------------------------------------------------------------------------

        //botton---------------------------------------------------------------------------------------------------------
        //推薦商品
        const RecommendProducts = async () => {
            let sortBy = ["", "popular", "unitPrice", "categoryId"];
            let sortType = ["asc", "desc"];
            let randomNumber = Math.floor(Math.random() * 6);
            let randomBy = Math.floor(Math.random() * 4);
            let randomType = Math.floor(Math.random() * 2);
            //console.log(sortBy[randomBy]); console.log(sortType[randomType]);
            let url = 'https://localhost:7199/api/Products/search';
            let response = await fetch(url, {
                method: 'POST',
                body: JSON.stringify({
                    "categoryId": randomNumber,
                    "keyword": "",
                    "page": 1,
                    "pageSize": 5,
                    "sortBy": sortBy[randomBy],
                    "sortType": sortType[randomType]
                }),
                headers: {
                    'Content-Type': 'application/json'
                }
            });
            let data = await response.json();
            //顯示資料
            const goods = data.productsResult.map(good => {
                return (`<div class="card m-auto hover" style="min-width:150px;padding-top:8px;">
                        <a href="${good.productId}" style="text-decoration:none;color:black">
                        <img class="card-img-top" src="data:image/jpeg;base64,${good.productImage}" alt="Recommend" style="width:100%">
                        <div class="card-body">
                            <h6 class="card-title">${good.productName}</h6>
                            <span class="" style="font-style:italic;color:lightblue;">#${good.productCategory}</span>
                            <p class="card-text">$${good.unitPrice}NTD</p>
                        </div></a></div>`)
            });
            recommend.innerHTML = goods.join("");
        }

        //載入商品資料
        const loadProduct = async () => {
            let url = 'https://localhost:7199/api/Products/' + productID;
            //console.log('url=', url);
            let response = await fetch(url);
            let data = await response.json();
            console.log(data);

            //顯示照片
            //data=>{ base64Images, images, productCategory, productCategoryId, productDetail, productId, productImage, productName, productSold, unitPrice }
            s = `<div class="carousel-item active">
                    <div class="zoom-container">
                       <img src="data:image/jpeg;base64,${data.productImage}" class="d-block w-100 h-auto zoom-img" alt="notFound">
                    </div>
                 </div>`;
            if (data.images) {
                for (var pic of data.base64Images) {
                    s += `<div class="carousel-item">
                            <div class="zoom-container">
                              <img src="data:image/jpeg;base64,${pic}" class="d-block w-100 h-auto zoom-img" alt="error">
                            </div></div>`;}}
            productImage.innerHTML = s;

            //顯示資料
            s = `<h2 style="font-weight: 600; font-family: 'Microsoft JhengHei', Arial, sans-serif;">${data.productName}</h2>
                <a href="https://localhost:7168/shop/" style="text-decoration:none;">
                <h5 style="font-style:italic;color:	#000079;">#${data.productCategory}</h5></a><br/><br/>
                <p class="card-text" style="font-weight:600;font-style:italic;">$${data.unitPrice}NTD</p>`;
            productInfo.innerHTML = s;

            //顯示詳細
            s = `${data.productDetail}`;
            productDetail.innerHTML = s;

            //推薦商品
            RecommendProducts();
            //熱門商品
            PopularProducts();
            }
        loadProduct();
    </script>
}

