@{
    ViewData["Title"] = "Home Page";
}

<!-- Services-->
<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">我們的服務</h2>
            <h3 class="section-subheading text-muted">Our Services</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-4 service-item">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">為您配對合適的教練</h4>
                <p class="text-muted" style="font-size:20px;">運動是一門學問，<br>不正確的運動可能造成肌肉受傷！<br>運動絕對需要專業的教練來，<br>您可以在這裡找合適自己的教練！</p>
            </div>
            <div class="col-md-4 service-item">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">隨心選擇想運動的地方</h4>
                <p class="text-muted" style="font-size:20px;">專業的運動體驗一定要在健身房？<br>我們提供多家便利的運動分館，<br>無論是城市中心或是您家附近，<br>您可以選擇最適合的運動場所！</p>
            </div>
            <div class="col-md-4 service-item">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">找到最適合自己的方案<br>可單購一堂課程</h4>
                <p class="text-muted" style="font-size:20px;">預約1堂課程，就付1堂課程費用，<br>不用一次購買大量課程！<br>費用由平台代收，讓你安心付款！</p>
            </div>
        </div>
    </div>
</section>

<!-- 課程-->
<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">精選課程</h2>
            <h3 class="section-subheading text-muted">Courses</h3>
        </div>
        <div class="row" id="courses">
            <div class="col-lg-4 col-sm-6 mb-4">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <a class="btn btn-primary btn-xl text-uppercase divblue" href="https://localhost:7168/Course">更多課程</a>
            </div>
        </div>
    </div>
</section>

<!-- 教練--><section class="page-section bg-light" id="team">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">熱門教練</h2>
            <h3 class="section-subheading text-muted">Our Amazing Team</h3>
        </div>
        <div class="row">
            <!-- 按鈕:前-->
            <div class="css-ribqtx col-auto">
                <button type="button" class="chakra-button css-bplxaj" id="prev-trainer-slide">
                    <svg viewBox="0 0 24 24" focusable="false" class="chakra-icon css-1x7z2yw">
                        <path fill="currentColor" d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"></path>
                    </svg>
                </button>
            </div>

            <div class="col-lg-10">
                <div class="team-slider" id="trainer-slider">
                </div>
            </div>

            <!-- 按鈕:後-->
            <div class="css-ribqtx col-auto">
                <button type="button" class="chakra-button css-bplxaj" id="next-trainer-slide">
                    <svg viewBox="0 0 24 24" focusable="false" class="chakra-icon css-1x7z2yw">
                        <path fill="currentColor" d="M8.59 16.59L10 18l6-6-6-6-1.41 1.41L13.17 12z"></path>
                    </svg>
                </button>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <a class="btn btn-primary btn-xl text-uppercase divblue" href="https://localhost:7168/Trainer/">更多教練</a>
            </div>
        </div>
    </div>
</section>
<section class="page-section bg-light">
    <div class="text-center">
        <h2 class="section-heading text-uppercase">商城</h2>
        <h3 class="section-subheading text-muted">FitConnect Shop</h3>
    </div>
    <div style="text-decoration:none;text-align:right;margin-right:30px;">
        <a href="https://localhost:7168/shop/index" class="btn btn-outline-primary">前往商城>></a>
    </div>
    <div id="carouselAutoplayingMerchandise" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active carousel-shopgoods">
                <div class="row row-cols-1 row-cols-md-4 g-4 m-1" id="homepageShop">
                    <div class="card m-3 hover" style="min-width:150px;padding-top:8px">
                        <img class="card-img-top" src="~/assets/img/header-backgrd.jpg" alt=".C" style="width:97%;max-height:150px;">
                        <div class="card-body">
                            <h4 class="card-title">Joy</h4>
                            <span class="" style="font-style:italic;color:lightblue;">#category</span>
                            <p class="card-text">$1.99 USD</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item carousel-shopgoods">
                <div class="row row-cols-1 row-cols-md-4 g-4 m-1" id="homepageShop2">
                </div>
            </div>
            <div class="carousel-item carousel-shopgoods">
                <div class="row row-cols-1 row-cols-md-4 g-4 m-1" id="homepageShop3">
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselAutoplayingMerchandise" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselAutoplayingMerchandise" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

</section>

<!-- 身體測量器-->
<section class="row">
    <div class="text-center" style="margin:auto;">
        <h2 class="section-heading text-uppercase">身體測量器</h2>
        <p style="text-align:center;font-size:19px;font-weight:bold;color:#004B97">輸入您的身高、體重、年紀、性別、活動程度，點擊「計算」按鈕，就能算出您的身體質量指數（BMI）與每日總消耗熱量（TDEE）。</p>
    </div>
    <div class="col-lg-6 reveal_b1">
        <a href="../BodyCalculator/BMIcalculator">
            <div class="divOption">
                <img src="~/assets/img/body/BMI.jpg" />
                <div class="divBackground"></div>
                <div><h1>BMI<br />計算器</h1></div>
            </div>
        </a>
    </div>
    <div class="col-lg-6 reveal_b2">
        <a href="../BodyCalculator/TDEEcalculator">
            <div class="divOption">
                <img src="~/assets/img/body/BMII.jpg" />
                <div class="divBackground"></div>
                <div><h1>TDEE<br />計算器</h1></div>
            </div>
        </a>
    </div>
</section>
<!-- 健康專欄-->
<section class="from-blog spad">
    <div class="container">
        <div class="row">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">最新消息</h2>
                <h3 class="section-subheading text-muted">歡迎追蹤社群專頁，掌握第一手運動健康新知！</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 reveal_b1">
                <div class="blog__item">
                    <div class="blog__item__pic">
                        <img src="~/assets/img/healthboard/3.jpg" />
                    </div>
                    <div class="blog__item__text">
                        <ul>
                            <li>2024/06/03</li>
                        </ul>
                        <h5><a href=""></a>健身教練介紹｜3 分鐘掌握找私人教練技巧及精選教練推薦</h5>
                        <p>現今網路資源豐富，透過收看免費網路影片，我們隨時都能自學健身、在家做身體鍛鍊，因此剛接觸健身的人，不免陷入是否該請教練的抉擇中。事實上，健身是門艱深的學問，有些看上去簡單的動作，實際隱藏許多需要注意的細節，一旦姿勢或做法錯誤，很可能就會造成運動傷害。</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 reveal_b1">
                <div class="blog__item">
                    <div class="blog__item__pic">
                        <img src="~/assets/img/healthboard/4.jpg" />
                    </div>
                    <div class="blog__item__text">
                        <ul>
                            <li>2024/05/14</li>
                        </ul>
                        <h5><a href="file:///C:/Users/User/Desktop/%E6%9C%9F%E6%9C%AB.html"></a>健身新潮流：為什麼「快餐式運動」反而讓你獲益更多？</h5>
                        <p>
                            一提起運動健身，許多人會聯想到在健身房裏揮汗如雨，或是一天至少連續運動30分鐘以上。然而，新研究表明，要想健身，「短平快」的運動不但能讓人受益，效果可能也更好。現代人生活節奏快、工作繁忙。但最近研究提出的一個新理念：「運動快餐」或「快餐式運動」
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 reveal_b1">
                <div class="blog__item">
                    <div class="blog__item__pic">
                        <img src="~/assets/img/healthboard/5.jpg" />
                    </div>
                    <div class="blog__item__text">
                        <ul>
                            <li>2024/04/28</li>
                        </ul>
                        <h5><a href=""></a>身體組成分析「內在身材」－你是C型、I型、D型人？</h5>
                        <p>使過現代化的身體組成分析儀器（如InBody、Tanita、Omron），可以快速準確地幫助我們了解身體概況，包括體重、身體水分、體脂率、肌肉量、內臟脂肪等數值，讓了解自己是健康的體態，或是只是表面看起來健康的泡芙人，讓了解自己是健康的體態，健康的泡芙人。</p>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>


@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const slider = document.getElementById('trainer-slider');
            const prevButton = document.getElementById('prev-trainer-slide');
            const nextButton = document.getElementById('next-trainer-slide');

            let scrollAmount = 0;

            function scrollLeft() {
                if (scrollAmount > 0) {
                    scrollAmount -= slider.clientWidth / 3;
                } else {
                    scrollAmount = 0;
                }
                slider.scrollTo({
                    left: scrollAmount,
                    behavior: 'smooth'
                });
            };

            function scrollRight() {
                if (scrollAmount < slider.scrollWidth - slider.clientWidth) {
                    scrollAmount += slider.clientWidth / 3;
                } else {
                    scrollAmount = slider.scrollWidth - slider.clientWidth;
                }
                slider.scrollTo({
                    left: scrollAmount,
                    behavior: 'smooth'
                });
            };

            prevButton.addEventListener('click', scrollLeft);
            nextButton.addEventListener('click', scrollRight);
        });
        //課程
        const HomepageCourses = async () => {
            var x = '', y = '', z = '';
            let sortBy = ["", "Date", "GymId"];
            let sortType = ["asc", "desc"];
            let randomBy = Math.floor(Math.random() * 3);
            let randomType = Math.floor(Math.random() * 2);

            let url = 'https://localhost:7199/api/Course/SEARCH';
            let response = await fetch(url, {
                method: 'POST',
                body: JSON.stringify({
                    "sort1": 0,
                    "sort2": 0,
                    "field": "",
                    "courseDate": null,
                    "courseStartTime": null,
                    "keyword": "",
                    "page": 1,
                    "pageSize": 6,
                    "sortBy": sortBy[randomBy],
                    "sortType": sortType[randomType]
                }),
                headers: {
                    'Content-Type': 'application/json'
                }
            });
            let data = await response.json();
            console.log(data);

            //courseResult{class,classScheduleId,courseDate,introduction,photo}
            for (var course of data.courseResult) {
                x += `<div class="col-lg-4 col-sm-6 mb-4">
                                <div class="portfolio-item">
                                    <a class="portfolio-link" href="https://localhost:7168/course/search/${course.classScheduleId}">
                                        <div class="portfolio-hover">
                                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                        </div>
                                        <img class="img-fluid" src="data:image/jpeg;base64,${course.photo}" />
                                    </a>
                                    <div class="portfolio-caption">
                                        <div class="portfolio-caption-heading">${course.class}</div>
                                        <div class="portfolio-caption-subheading text-muted">${course.introduction.substring(0, 25)}...</div>
                                    </div>
                                </div>
                            </div>`;
            }
            document.querySelector('#courses').innerHTML = x;
        }

        //教練
        const HomepageCoaches = async () => {
            var s = '';
            let sortBy = ["", "RegionId", "Sort1ID", "GenderID"];
            let sortType = ["asc", "desc"];
            let randomBy = Math.floor(Math.random() * 4);
            let randomType = Math.floor(Math.random() * 2);
            let url = 'https://localhost:7199/api/Coach/SEARCH';
            let response = await fetch(url, {
                method: 'POST',
                body: JSON.stringify({
                    "sort1": "",
                    "sort2": "",
                    "gender": "",
                    "city": "",
                    "region": "",
                    "classId": 0,
                    "keyword": "",
                    "page": 1,
                    "pageSize": 6,
                    "sortBy": sortBy[randomBy],
                    "sortType": sortType[randomType]
                }),
                headers: {
                    'Content-Type': 'application/json'
                }
            });
            let data = await response.json();
            //coachResult{name,intro,photo}
            //顯示資料
            for (var coach of data.coachResult) {
                s += `<div class="team-member" style="overflow:hidden;text-align:center;margin:30px 20px;">
                                <a href="https://localhost:7168/Trainer/Coach?id=${coach.id}" style="text-decoration:none;">
                                <img class="rounded-circle coach-photo" src="data:image/jpeg;base64,${coach.photo}" style="width:14rem;height:14rem;object-fit:cover;object-position:center"/>
                                    <h4 style="margin-top:12px;">${coach.name}</h4>
                                    <p class="text-muted" style="font-size:larger">${coach.intro.substring(0,25)}...</p>
                                </a>
                            </div>`;
            }
            //console.log('coaches_text', s)
            document.querySelector('#trainer-slider').innerHTML = s;
        };


        //商城
        const HomepageProducts = async () => {
            var x = '', y = '', z = '';
            let already = 0
            let sortBy = ["", "popular", "unitPrice", "categoryId"];
            let sortType = ["asc", "desc"];
            let randomBy = Math.floor(Math.random() * 4);
            let randomType = Math.floor(Math.random() * 2);
            //console.log(sortBy[randomBy]); console.log(sortType[randomType]);
            let url = 'https://localhost:7199/api/Products/search';
            let response = await fetch(url, {
                method: 'POST',
                body: JSON.stringify({
                    "categoryId": 0,
                    "keyword": "",
                    "page": 3,
                    "pageSize": 12,
                    "sortBy": sortBy[randomBy],
                    "sortType": sortType[randomType]
                }),
                headers: {
                    'Content-Type': 'application/json'
                }
            });
            let data = await response.json();
            //顯示資料
            for (var good of data.productsResult) {
                //data:image/jpeg;base64,${good.productImage}
                already++;
                if (already < 5)
                    x += ` <a href="https://localhost:7168/shop/merchandise/${good.productId}" style="text-decoration:none;">
                                                        <div class="card m-auto hover" style="min-width:150px;padding-top:8px">
                                                         <img class="card-img-top" src="data:image/jpeg;base64,${good.productImage}" alt="fitconnectShop" style="width:97%;max-height:289px;">
                                                          <div class="card-body">
                                                             <h6 class="card-title">${good.productName}</h6>
                                                             <span class="" style="font-style:italic;color:lightblue;">#${good.productCategory}</span>
                                                             <p class="card-text">$${good.unitPrice}NTD</p>
                                                          </div> </div></a>`;
                else if (already < 9)
                    y += ` <a href="https://localhost:7168/shop/merchandise/${good.productId}" style="text-decoration:none;">
                                                             <div class="card m-auto hover" style="min-width:150px;padding-top:8px">
                                                               <img class="card-img-top" src="data:image/jpeg;base64,${good.productImage}" alt="fitconnectShop" style="width:97%;max-height:289px;">
                                                                 <div class="card-body">
                                                                   <h6 class="card-title">${good.productName}</h6>
                                                                   <span class="" style="font-style:italic;color:lightblue;">#${good.productCategory}</span>
                                                                   <p class="card-text">$${good.unitPrice}NTD</p>
                                                                 </div> </div></a>`;
                else
                    z += ` <a href="https://localhost:7168/shop/merchandise/${good.productId}" style="text-decoration:none;">
                                                             <div class="card m-auto hover" style="min-width:150px;padding-top:8px">
                                                                <img class="card-img-top" src="data:image/jpeg;base64,${good.productImage}" alt="fitconnectShop" style="width:97%;max-height:289px;">
                                                                   <div class="card-body">
                                                                      <h6 class="card-title">${good.productName}</h6>
                                                                      <span class="" style="font-style:italic;color:lightblue;">#${good.productCategory}</span>
                                                                      <p class="card-text">$${good.unitPrice}NTD</p>
                                                                    </div> </div></a>`;
            }
            document.getElementById('homepageShop').innerHTML = x;
            document.getElementById('homepageShop2').innerHTML = y;
            document.getElementById('homepageShop3').innerHTML = z;
        };
        HomepageCourses();
        HomepageCoaches();
        HomepageProducts();

        //身體測量器
        $(".divOption").hover(function () {
            $(this).children("img").css("border-radius", "10%").css("opacity", "1").end().find("h1").css("color", "black").end().children(".divBackground").css("visibility", "visible");
        }, function () {
            $(this).children("img").css("border-radius", "15%").css("opacity", "0.8").end().find("h1").css("color", "#ffffff").end().children(".divBackground").css("visibility", "visible");
        });

    </script>

}
@section Styles {
    <style>
        section{padding-bottom:80px;}
        .row {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .chakra-button {
            background-color: rgba(0, 0, 0, 0.5);
            border: none;
            color: white;
            padding: 10px 15px;
            border-radius: 50%;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
            transition: background-color 0.3s, box-shadow 0.3s;
        }

            .chakra-button:hover {
                background-color: rgba(0, 0, 0, 0.7);
                box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
            }

        .chakra-icon {
            width: 28px;
            height: 36px;
        }

        .team-slider {
            display: flex;
            overflow: hidden;
            width: 100%;
        }

        .team-member {
            flex: 1 0 30%;
            margin: 0 15px;
        }
        /*商城*/
        .carousel-control-prev,
        .carousel-control-next {
            color: #84C1FF;
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 10; /* 確保箭頭在最上層 */
        }

        .carousel-shopgoods-prev {
            left: -55px; /* 調整箭頭位置，使其位於左側 */
        }

        .carousel-shopgoods-next {
            right: -55px; /* 調整箭頭位置，使其位於右側 */
        }

        .carousel-control-prev-icon,
        .carousel-control-next-icon {
            color: #84C1FF !important; /* 設置箭頭顏色 */
            font-size: 1.5rem; /* 設置箭頭大小 */
        }


        /*課程*/
        .img-fluid {
            width: 100%;
            height: 200px;
            object-fit: cover;
            object-position: center;
        }

        .portfolio-item {
            margin-bottom: 3rem;
            text-align: center;
        }

        .portfolio-caption {
            text-align: center;
        }

   /*==============================================身體測量器===============================================================*/
        .main-title {
            text-align: center;
        }

        .sub-title {
            text-align: center;
            margin-bottom: 20px;
        }

        .divOption {
            position: relative;
            width: 100%;
            transition: background .2s linear, opacity .2s linear;
            margin-bottom: 20px;
            overflow: hidden;
            border-radius: 15px;
            height: 180px; 
        }

            .divOption > img {
                transition: transform 0.3s ease-out, border-radius 0.3s ease-out; 
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                opacity: 0.8;
                border-radius: 15px;
                transform: scale(1);
            }

            .divOption:hover > img {
                transform: scale(0.95); 
                border-radius: 50%; 
            }

            .divOption:hover {
                background-color: rgba(190, 190, 190, 0.3); 
            } 

            .divOption > div {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                text-align: center;
                transition: 0.5s;
            }

            .divOption:hover > div {
                opacity: 1;
            }

            .divOption > div > h1 {
                transition: 0.5s;
                font-family: "Cairo", sans-serif;
                color: #ffffff !important;
                font-weight: 700;
                margin: 0;
            }

        .divBackground {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: dimgrey;
            opacity: 0.3;
            border-radius: 15px;
        }

    </style>

}
