@{
    ViewData["Title"] = "CoachVerify";
}

@section Styles {
    <style>
        .main {
            width: 92%;
            margin: auto;
        }

        thead {
            background-color: #101F41;
        }

        .head {
            color: #D0D0D0 !important;
        }

        .row1 {
            text-align: center;
        }

        .profile-pic {
            height: 300px;
            border-radius: 15%;
        }

        .carousel-control-prev-icon,
        .carousel-control-next-icon {
            background-color: darkgray;
            border-radius: 50%;
        }
    </style>
}
<h1 style="padding-left:64px;">待審核教練清單</h1>
<div class="main">
    <label class="form-check-label" style="color:darkgray;font-style:italic;" id="datafound">共??筆資料</label>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th class="row1 head">ID</th>
                <th class="head">照片</th>
                <th class="head">姓名</th>
                <th class="head">年齡</th>
                <th class="head">性別</th>
                <th class="head">地址</th>
                <th class="head">電子信箱</th>
                <th class="head">詳細</th>
                <th class="head">審核</th>
            </tr>
        </thead>
        <tbody id="tablebody">
        </tbody>
    </table>
</div>
<!-- Modal -->
<div class="modal fade" id="coachverifyModal" tabindex="-1" aria-labelledby="coachverifyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="max-width: 42%; width: 42%;">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="coachverifyModalLabel">詳細資訊</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="carouselcoachregister" class="carousel slide" style="margin:20px auto;">
                    <div class="carousel-inner" id="divimage">
                        <div class="carousel-item active" style="text-align:center;">
                            <img src="https://cdn2.iconfinder.com/data/icons/ui-basic-outline-2/512/UI_Basic_outline-47-256.png" class="profile-pic" />
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselcoachregister" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselcoachregister" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <div style="max-width: 80%; width: 80%; margin:auto;">
                    <div class="mb-3">
                        <label for="coach-name" class="col-form-label">教練名稱:</label>
                        <input type="text" class="form-control" id="coach-name" disabled>
                    </div>
                    <div class="row g-3">
                        <div class="col-md">
                            <label for="coach-birthday" class="col-form-label">生日:</label>
                            <input type="text" class="form-control" id="coach-birthday" disabled>
                        </div>
                        <div class="col-md">
                            <label for="coach-gender" class="col-form-label">性別:</label>
                            <input type="text" class="form-control" id="coach-gender" disabled>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="coach-phone" class="col-form-label">電話:</label>
                        <input type="text" class="form-control" id="coach-phone" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="coach-email" class="col-form-label">電子信箱:</label>
                        <input type="text" class="form-control" id="coach-email" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="coach-address" class="col-form-label">通訊地址:</label>
                        <input type="text" class="form-control" id="coach-address" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="coach-expert" class="col-form-label">專長:</label>
                        <input type="text" class="form-control" id="coach-expert" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="coach-introt" class="col-form-label">教練介紹:</label>
                        <textarea class="form-control" id="coach-intro" style="min-height:120px;" disabled></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="approvalModal" tabindex="-1" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#004B97;color:whitesmoke;">
                <h5 class="modal-title">審核通過</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="background-color:#FBFFFD;color:#000000">
                <p>確認通過該教練資格審核?</p>
            </div>
            <div class="modal-footer" style="background-color:#FBFFFD;">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">取消</button>
                <button type="button" class="btn btn-outline-primary" id="exeapprove">通過</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="denialModal" tabindex="-1" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#804040;color:whitesmoke;">
                <h5 class="modal-title">駁回申請</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="background-color:#FFF7FB;color:#000000">
                <p>確定退回該教練資格申請?</p>
            </div>
            <div class="modal-footer" style="background-color:#FFF7FB;color:#000000">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                <button type="button" class="btn btn-danger" id="exedeny">駁回</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        const body = document.querySelector('#tablebody')
        const personalImage = document.querySelector('#divimage');
        var approvalModal = new bootstrap.Modal(document.getElementById('approvalModal'));
        var denialModal = new bootstrap.Modal(document.getElementById('denialModal'));
        //計算年紀
        const now = new Date();
        const year = now.getFullYear();
        const month = String(now.getMonth() + 1).padStart(2, '0');
        const day = String(now.getDate()).padStart(2, '0');
        const currentDate = `${year}/${month}/${day}`;
        console.log('currentDate', currentDate);
        let birthday = '1988/06/08';
        function calculateAges(currentDate, birthday) {
            const d1 = new Date(currentDate);
            const d2 = new Date(birthday);
            let yearDiff = d1.getFullYear() - d2.getFullYear();
            if (d1.getMonth() < d2.getMonth() ||
                (d1.getMonth() === d2.getMonth() && d1.getDate() < d2.getDate()))
                yearDiff--;
            return yearDiff;
        }
        let Ages = calculateAges(currentDate, birthday);


        //通過
        function approval(id) {
            approvalModal.show();
            document.querySelector('#exeapprove').addEventListener('click',async  () => {
                let url = 'https://localhost:7199/api/Coach/' + id + '/verify';
                let response = await fetch(url, {
                    method: 'DELETE'
                });
                let data = await response.text();
                console.log('approval', data);
                approvalModal.hide();
                loadCoaches();
            })
        }
        //駁回
        function denial(id) {
            denialModal.show();
            document.querySelector('#exedeny').addEventListener('click',async  () => {
                let url = 'https://localhost:7199/api/Coach/' + id + '/denial';
                let response = await fetch(url, {
                    method: 'DELETE'
                });
                let data = await response.text();
                console.log('denial', data);
                denialModal.hide();
                loadCoaches();
            })
        }
        //載入其一教練
        async function chosenOne(id){
            var s = '', i = 0;
            let url = 'https://localhost:7199/api/Coach/'+id+'/verify';
            let response = await fetch(url);
            let data = await response.json();
            console.log('TheCoache', data);
            //顯示照片
            personalImage.innerHTML = `<div class="carousel-item active" style="text-align:center;">
                                        <img src="data:image/jpeg;base64,${data.photo}" class="profile-pic" alt="Image Preview">
                                            </div>`
            if (data.images) {
                for (var pic of data.base64Images) {
                    newPreview = `<div class="carousel-item" style="text-align:center;">
                                       <img src="data:image/jpeg;base64,${pic}" class="profile-pic" alt="Image Preview">
                                           </div>`;
                    personalImage.insertAdjacentHTML('beforeend', newPreview);
                }
            }
            //顯示資訊
            document.querySelector('#coach-name').value = data.name;
            document.querySelector('#coach-gender').value = data.genderDescription;
            document.querySelector('#coach-birthday').value = data.birthday;
            document.querySelector('#coach-phone').value = data.phone;
            document.querySelector('#coach-email').value = data.eMail;
            document.querySelector('#coach-address').value = data.address;
            data.experties.forEach(expert => { if (i > 0) s += ','; s += expert.className; i++; })
            document.querySelector('#coach-expert').value = s;
            document.querySelector('#coach-intro').value = data.intro;
            
        }
        //載入所有待審核教練
        const loadCoaches = async () => {
            let url = 'https://localhost:7199/api/Coach/verify';
            let response = await fetch(url);
            let data = await response.json();
            console.log('coaches', data);
            //顯示資料
            document.getElementById('datafound').innerHTML = `共${data.length}筆資料`;
            const coaches = data.map(coach => {
                //address,birthday,eMail,genderDescription,id,name,phone,photo
                birthday = coach.birthday;
                Ages = calculateAges(currentDate, birthday);
                return (`<tr>
                         <td class="row1">${coach.id}</td>
                         <td>
                         <button class="btn btn-outline-info" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePhoto${coach.id}" aria-expanded="false" aria-controls="collapsePhoto${coach.id}">
                         照片
                         </button>
                         <div style="max-height:120px;">
                         <div class="collapse collapse-vertical" id="collapsePhoto${coach.id}">
                         <img src="data:image/jpeg;base64,${coach.photo}" alt="Coach" style="max-height:200px;margin-left:80px;">
                         </div>
                         </div>
                         </td>
                         <td>${coach.name}</td>
                         <td>${Ages}</td>
                         <td>${coach.genderDescription}</td>
                         <td>${coach.address.substring(0, 3)}</td>
                         <td>${coach.eMail}</td>
                         <td>
                         <button class="btn btn-outline-warning" type="button" data-bs-toggle="modal" data-bs-target="#coachverifyModal" onclick="chosenOne(${coach.id})">
                         檢視詳細
                         </button></td>
                         <td>
                         <button class="btn btn-outline-primary" type="button" onclick="approval(${coach.id})" style="margin-right: 20px;">
                         通過
                         </button>
                         <button class="btn btn-outline-danger" type="button" onclick="denial(${coach.id})">
                         駁回
                         </button></td>
                         </tr>`)
            })
            body.innerHTML = coaches.join("");
        }
        loadCoaches();
    </script>
}
