
@{
    ViewData["Title"] = "CoachAuthority";
}

@section Styles {
    <style>
        .main {
            width: 92%;
            margin: auto;
        }

        thead {
            background-color: #101F41;
        }

        .head {
            color: #D0D0D0 !important;
        }

        .row1 {
            text-align: center;
        }

    </style>
}
<h1 style="padding-left:64px;">停權教練</h1>
<div class="main">
    <label class="form-check-label" style="color:darkgray;font-style:italic;" id="datafound">共??筆資料</label>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th class="row1 head">ID</th>
                <th class="head">照片</th>
                <th class="head">姓名</th>
                <th class="head">年齡</th>
                <th class="head">性別</th>
                <th class="head">地址</th>
                <th class="head">電子信箱</th>
                <th class="head">權限</th>
            </tr>
        </thead>
        <tbody id="tablebody">
        </tbody>
    </table>
</div>
<!-- Modal -->
<div class="modal" id="activateModal" tabindex="-1" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#01814A;color:whitesmoke;">
                <h5 class="modal-title">解除停權</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="background-color:#E8FFF5;color:#000000">
                <p>確定解除該教練帳號停權?</p>
            </div>
            <div class="modal-footer" style="background-color:#E8FFF5;color:#000000">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">取消</button>
                <button type="button" class="btn btn-outline-success" id="exedeny">解除</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        const body = document.querySelector('#tablebody')
        var activateModal = new bootstrap.Modal(document.getElementById('activateModal'));
        //計算年紀
        const now = new Date();
        const year = now.getFullYear();
        const month = String(now.getMonth() + 1).padStart(2, '0');
        const day = String(now.getDate()).padStart(2, '0');
        const currentDate = `${year}/${month}/${day}`;
        console.log('currentDate', currentDate);
        let birthday = '1988/06/08';
        function calculateAges(currentDate, birthday) {
            const d1 = new Date(currentDate);
            const d2 = new Date(birthday);
            let yearDiff = d1.getFullYear() - d2.getFullYear();
            if (d1.getMonth() < d2.getMonth() ||
                (d1.getMonth() === d2.getMonth() && d1.getDate() < d2.getDate()))
                yearDiff--;
            return yearDiff;
        }
        let Ages = calculateAges(currentDate, birthday);


        //解除停權
        function activate(id) {
            activateModal.show();
            document.querySelector('#exedeny').addEventListener('click', async () => {
                let url = 'https://localhost:7199/api/Member/' + id + '/activate';
                let response = await fetch(url, {
                    method: 'DELETE'
                });
                let data = await response.text();
                console.log('denial', data);
                activateModal.hide();
                loadunactivated();
            })
        }
        //載入所有
        const loadunactivated = async () => {
            let url = 'https://localhost:7199/api/Coach/unactivated';
            let response = await fetch(url);
            let data = await response.json();
            console.log('coaches', data);
            //顯示資料
            document.getElementById('datafound').innerHTML = `共${data.length}筆資料`;
            const coaches = data.map(coach => {
                //address,birthday,eMail,genderDescription,id,name,phone,photo
                Ages = calculateAges(currentDate, coach.birthday);
                return (`<tr>
                         <td class="row1">${coach.id}</td>
                         <td>
                         <button class="btn btn-outline-info" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePhoto${coach.id}" aria-expanded="false" aria-controls="collapsePhoto${coach.id}">
                         照片
                         </button>
                         <div style="max-height:120px;">
                         <div class="collapse collapse-vertical" id="collapsePhoto${coach.id}">
                         <img src="data:image/jpeg;base64,${coach.photo}" alt="Coach" style="max-height:200px;margin-left:80px;">
                         </div>
                         </div>
                         </td>
                         <td>${coach.name}</td>
                         <td>${Ages}</td>
                         <td>${coach.genderDescription}</td>
                         <td>${coach.address.substring(0, 3)}</td>
                         <td>${coach.eMail}</td>
                         <td>
                         <button class="btn btn-outline-success" type="button" onclick="activate(${coach.id})">
                         解除停權
                         </button></td>
                         </tr>`)
            })
            body.innerHTML = coaches.join("");
        }
        loadunactivated();
    </script>
}



