@{
    ViewData["Title"] = "FieldCreate";
}

<div style="padding-top:120px;"></div>
<h1>新增場地</h1>
<div>
    <p>
        <form method="post" action="~/" enctype="multipart/form-data">
            <div class="col-md-6">
                <p>
                    <h3>請輸入場館名</h3><br />
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">場地名</span>
                        <input type="text" class="form-control" placeholder="例:50米游泳池" aria-label="場地名" aria-describedby="basic-addon1">
                    </div>
                </p>
                <p>
                    <h3>場館</h3><br />
                    <select class="form-select" aria-label="Default select example">
                        <option>請選擇場館</option>
                    </select>
                </p>
                <p>
                    <h3>請輸入場地簡介</h3><br />
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">場地簡介</span>
                        <input type="text" class="form-control" placeholder="例:本館設有:游泳池" aria-label="場地" aria-describedby="basic-addon1">
                    </div>
                </p>
                <p>
                    <div class="mb-3">
                        <label for="formFileSm" class="form-label"><h3>上傳場地照片</h3></label>
                        <input class="form-control form-control-sm" id="formFileSm" type="file">
                    </div>
                </p>
                <p>
                    <input type="submit" value="送出並新增" />
                </p>
            </div>
        </form>
    </p>
</div>

