@{
    ViewData["Title"] = "GymReviewList";
}

@section Styles {
    <style>
        .custom-select-short {
            width: 150px;
        }
        .main {
            width: 92%;
            margin: auto;
        }

        thead {
            background-color: #101F41;
        }

        .head {
            color: #D0D0D0 !important;
        }
    </style>
}
<h1 style="padding-left:64px;">場館清單</h1>
<div class="main">
    <select class="form-select custom-select-short" id="review">
        <option value="all">審核狀態</option>
        <option value="open">開放</option>
        <option value="pending">待審核</option>
    </select>
    <table class="table table-striped table-hover m-2 text-center">
        <thead>
            <tr>
                <th class="head" scope="col">ID</th>
                <th class="head" scope="col">場館狀態</th>
                <th class="head" scope="col">負責人</th>
                <th class="head" scope="col">公司</th>
                <th class="head" scope="col">場館名</th>
                <th class="head" scope="col">電話</th>
                <th class="head" scope="col">營業時間</th>
                <th class="head" scope="col">地址</th>
                <th class="head" scope="col">新增場地</th>
                <th class="head" scope="col">更新</th>
                <th class="head" scope="col">狀態</th>
                <th class="head" scope="col">審核</th>
                <th class="head" scope="col">刪除</th>
            </tr>
        </thead>
        <tbody id="gymList">
            <!-- 列表生成 -->
        </tbody>
    </table>
</div>

<!-- 刪除確認視窗 -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">確認刪除</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                確定要刪除這個場館？
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                <button type="button" id="confirmDeleteBtn" class="btn btn-danger">確認刪除</button>
            </div>
        </div>
    </div>
</div>
<!-- 狀態更改確認視窗 -->
<div class="modal fade" id="statusModal" tabindex="-1" aria-labelledby="statusModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="statusModalLabel">確認更改狀態</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                確定要更改這個場館的審核狀態？
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                <button type="button" id="confirmStatusBtn" class="btn btn-warning">確認更改</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", async () => {
            let data = [];

            const renderTable = (data) => {
                const tableBody = document.querySelector('table tbody');
                tableBody.innerHTML = data.map((item, index) => `
                            <tr>
                                <td>${index + 1}</td>
                                <td>${item.gymStatus ? '開放' : '待審核'}</td>
                                <td>${item.owner}</td>
                                <td>${item.name}</td>
                                <td>${item.gymName}</td>
                                <td>${item.gymPhone}</td>
                                <td>${item.start_time}-${item.end_time}</td>
                                <td>${item.gymAddress}</td>
                                <td>
                                    <button class="btn btn-outline-success create-btn" data-id="${item.gymId}">新增</button>
                                </td>
                                <td>
                                    <button class="btn btn-outline-success update-btn" data-id="${item.gymId}">修改</button>
                                </td>
                                <td>
                                    <button class="btn btn-outline-primary view-btn" data-id="${item.gymId}">檢視</button>
                                </td>
                                <td>
                                    <button class="btn btn-outline-warning confirm-btn" data-id="${item.gymId}"
                                     data-status="${item.gymStatus}" data-start-time="${item.start_time}" data-end-time="${item.end_time}"
                                     data-bs-toggle="modal" data-bs-target="#statusModal">同意</button></td>
                                </td>
                                <td>
                                    <button class="btn btn-outline-danger delete-btn" data-id="${item.gymId}" data-bs-toggle="modal" data-bs-target="#deleteModal">刪除</button>
                                </td>
                            </tr>
                        `).join('');

                //表單按鈕事件
                tableBody.addEventListener('click', async (event) => {
                    const target = event.target;
                    const gymId = target.getAttribute('data-id');

                    if (target.classList.contains('confirm-btn')) {
                        const statusBtn = document.getElementById('confirmStatusBtn');
                        statusBtn.setAttribute('data-id', gymId);
                        const status = target.getAttribute('data-status') === 'true';
                        statusBtn.setAttribute('data-new-status', !status);
                        statusBtn.setAttribute('data-start-time', target.getAttribute('data-start-time'));
                        statusBtn.setAttribute('data-end-time', target.getAttribute('data-end-time'));
                    }
                    if (target.classList.contains('create-btn')) {
                        window.location.href = `https://localhost:7168/admin/fieldcreate?id=${gymId}`;
                    }
                    if (target.classList.contains('view-btn')) {
                        window.location.href = `https://localhost:7168/admin/gymreview?id=${gymId}`;
                    }
                    if (target.classList.contains('update-btn')) {
                        window.location.href = `https://localhost:7168/admin/gymupdate?id=${gymId}`;
                    }
                });

                //方法，刪除按鈕按下時，將gymId傳給confirmDeleteBtn的data-id屬性
                document.querySelectorAll('.delete-btn').forEach(item => {
                    item.addEventListener('click', function (event) {
                        const confirmDeleteBtn = document.getElementById('confirmDeleteBtn');
                        confirmDeleteBtn.setAttribute('data-id', item.getAttribute('data-id'));
                    });
                });

                //刪除場館
                document.getElementById('confirmDeleteBtn').addEventListener('click', async (event) => {
                    const gymId = event.target.getAttribute('data-id');
                    try {
                        const deleteResponse = await fetch(`https://localhost:7199/api/AdminGymlist/${gymId}`, {
                            method: 'DELETE'
                        });
                        if (deleteResponse.ok) {
                            location.reload();
                        } else {
                            console.error('刪除失敗:', deleteResponse.status);
                        }
                    } catch (error) {
                        console.error('刪除請求失敗:', error);
                    } finally {
                        $('#deleteModal').modal('hide');
                    }
                });

                //更新場館審核狀態
                document.getElementById('confirmStatusBtn').addEventListener('click', async (event) => {
                    const gymId = event.target.getAttribute('data-id');
                    const newStatus = event.target.getAttribute('data-new-status') === 'true';
                    const startTime = event.target.getAttribute('data-start-time');
                    const endTime = event.target.getAttribute('data-end-time');
                    try {
                        const confirmResponse = await fetch(`https://localhost:7199/api/AdminGymlist/${gymId}/status`, {
                            method: 'PUT',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({
                                gymStatus: newStatus,
                                start_time: startTime,
                                end_time: endTime
                            })
                        });
                        if (confirmResponse.ok) {
                            location.reload();
                        } else {
                            console.error('狀態更新失敗:', confirmResponse.status);
                        }
                    } catch (error) {
                        console.error('狀態更新請求失敗:', error);
                    } finally {
                        $('#statusModal').modal('hide');
                    }
                });
            };

            try {
                const response = await fetch(`https://localhost:7199/api/AdminGymlist/`);
                data = await response.json();
                renderTable(data);

                document.getElementById('review').addEventListener('change', (event) => {
                    const filter = event.target.value;
                    let filteredData = data;
                    if (filter === 'open') {
                        filteredData = data.filter(item => item.gymStatus);
                    } else if (filter === 'pending') {
                        filteredData = data.filter(item => !item.gymStatus);
                    }
                    renderTable(filteredData);
                });
            } catch (error) {
                console.error("讀取場館資料失敗:", error);
            }
        });
    </script>
}