@{
    ViewData["Title"] = "admin-demo";
}

@section Styles {
    <style>
        .wrap-container {
            width: 100%;
            text-align: center;
            padding-top: 48px;
        }

        h1 {
            color: #000093;
            font-weight: 800;
            font-size: 3em;
            text-shadow: 2px 1px 0.8px cyan;
        }

        .title {
            padding-top: 10px;
            color: #13244A;
            font-weight: 700;
            font-size: 1.7em;
        }
        .subtitle {
            padding:12px 0 18px 18px;
            color: #28004D;
            font-weight: 500;
            font-size: 1.3em;
        }

        .full-width-dropdown, .full-width-dropup {
            width: 350px;
            left: 50%;
            transform: translateX(-50%);
            display: none;
            position: absolute;
            z-index: 1000;
        }

        .dropdown-btn {
            margin: 10px 35px;
            background-color: aliceblue;
            position: relative;
            display: inline-block;
        }
        .nondrop-btn {
            margin: 10px 35px;
            background-color: aliceblue;
            position: relative;
            display: inline-block;
        }

        .dropdown-btn:hover .full-width-dropdown {
            display: block;
            top: 100%;
        }

        .dropdown-btn:hover .full-width-dropup {
            display: block;
            bottom: 100%;
        }
    </style>
}

<div class="wrap-container">
    <h1>Fitconnect 管理員中心</h1>
    <p class="placeholder-wave">
        <span class="placeholder col-10" style="background-color:#FFD9EC;"></span>
    </p>
    <div>
        <div class="dropdown-center">
            <div class="btn btn-secondary dropdown-btn">
                <img src="https://cdn4.iconfinder.com/data/icons/general-office/91/General_Office_37-225.png" alt="Member"><br />
                <p class="title">會員管理</p>
                <ul class="dropdown-menu full-width-dropdown">
                    <li><a class="dropdown-item subtitle" href="https://localhost:7168/Admin/MemberList">會員資料</a></li>
                    <li><a class="dropdown-item subtitle" href="https://localhost:7168/Admin/MemberAuthority">會員權限</a></li>
                </ul>
            </div>
            <div class="btn btn-secondary dropdown-btn">
                <img src="https://cdn3.iconfinder.com/data/icons/forall/1062/gym-225.png" alt="Coach"><br />
                <p class="title">教練管理</p>
                <ul class="dropdown-menu full-width-dropdown">
                    <li><a class="dropdown-item subtitle" href="https://localhost:7168/Admin/CoachList">教練清單</a></li>
                    <li><a class="dropdown-item subtitle" href="https://localhost:7168/Admin/CoachVerify">資格審核</a></li>
                    <li><a class="dropdown-item subtitle" href="https://localhost:7168/Admin/CoachAuthority">教練權限</a></li>
                </ul>
            </div>
            <div class="btn btn-secondary dropdown-btn">
                <img src="https://cdn3.iconfinder.com/data/icons/online-learning-vol-1-2/64/Online_Learning-225.png" alt="Course"><br />
                <p class="title">課程管理</p>
                <ul class="dropdown-menu full-width-dropdown">
                    <li><a class="dropdown-item subtitle" href="https://localhost:7168/Admin/courselist">課程清單</a></li>
                    <li><a class="dropdown-item subtitle" href="https://localhost:7168/Admin/CourseApproval">開課審核</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="dropdown-center">
        <div class="btn btn-secondary dropdown-btn">
            <img src="https://cdn0.iconfinder.com/data/icons/constructivism-for-the-bank/64/constr_bank_office-225.png" alt="Field"><br />
            <p class="title">場館管理</p>
            <ul class="dropdown-menu full-width-dropup">
                <li><a class="dropdown-item subtitle" href="https://localhost:7168/Admin/gymreviewlist">場館清單</a></li>
                <li><a class="dropdown-item subtitle" href="https://localhost:7168/Admin/fieldreviewlist">場地管理</a></li>
            </ul>
        </div>
        <div class="btn btn-secondary dropdown-btn">
            <img src="https://cdn2.iconfinder.com/data/icons/shopping-and-ecommerce-40/512/06_Ecommerce-225.png" alt="Shop"><br />
            <p class="title">商城管理</p>
            <ul class="dropdown-menu full-width-dropup">
                <li><a class="dropdown-item subtitle" href="https://localhost:7168/Admin/ProductList">商品清單</a></li>
                <li><a class="dropdown-item subtitle" href="#">訂單管理</a></li>
            </ul>
        </div>
        @* <a class="btn btn-secondary nondrop-btn" href="#">
            <img src="https://cdn1.iconfinder.com/data/icons/spring-sales-1/512/36_Billboard_Announcement_Signaling_Season_Sales-225.png" alt="Board"><br />
            <p class="title">Board</p>
        </a>
        <a class="btn btn-secondary nondrop-btn" href="#">
            <img src="https://cdn4.iconfinder.com/data/icons/business-1221/24/Rate-225.png" alt="chart"><br />
            <p class="title">Chart</p>
        </a>
        <a class="btn btn-secondary nondrop-btn" href="#">
            <img src="https://cdn4.iconfinder.com/data/icons/desktop-app-free/32/Desktop_Desktop_App_Earphone_Headphone_Communication-20-225.png" alt="Client"><br />
            <p class="title">Client</p>
        </a> *@
    </div>
</div>
@section Scripts {
    <script>

    </script>
}
