@{
    ViewData["Title"] = "ProductCreate";
}

@section Styles {
    <style>
        #content {
            width: 70%;
            overflow: hidden;
            margin: 5px auto;
        }

        .article {
            width: 64%;
            float: right;
        }

        .section {
            background-color: #FBFBFF;
            border: 3px solid #FFD306;
            border-radius: 15px;
            margin: 50px 0;
            padding: 20px 26px;
            line-height: 2em;
        }

        .aside {
            width: 30%;
            float: left;
        }

        .zoom-container {
            overflow: hidden;
        }

        .zoom-img {
            transition: transform 0.5s ease;
            border-radius: 33px 0 0 0;
        }

        .zoom-container:hover .zoom-img {
            transform: scale(1.2);
        }

        .oncheck{
            color:red;
            display:none;
        }
    </style>
}

<h1 style="padding-left:64px;margin:15px 0;" id="createheading">上架商品</h1>

<div id="content">
    <aside class="aside">
        <section class="section">
            <h3 class="subtital">商品顯示圖</h3>
            <div id="carouselAddProduct" class="carousel slide">
                <div class="carousel-inner" id="divimage">
                    <div class="carousel-item active">
                        <img id="preview" src="https://pbs.twimg.com/profile_images/1001436225402621952/bdez2BKN_400x400.jpg" alt="Image Preview" style="max-width: 100%; height: auto;">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselAddProduct" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselAddProduct" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <div class="mb-3">
                <label for="formFile" class="form-label">預覽商品圖</label>
                <input class="form-control" type="file" id="formFile">
            </div>
            <div class="mb-3">
                <label for="formFileMultiple" class="form-label">更多商品圖</label>
                <input class="form-control" type="file" id="formFileMultiple" multiple>
            </div>
        </section>
    </aside>

    <article class="article">
        <section class="section">
            <h3 class="subtital">商品介紹</h3>
            <div class="mb-3">
                <label for="inpproductName" class="form-label">商品名稱</label>
                <input type="text" class="form-control" id="inpproductName">
                <span class="oncheck" id="spanproductName">*必填</span>
            </div>
            <div class="row mb-3">
                <div class="col-4 ">
                    <label class="form-label">類別</label>
                    <select class="form-select" aria-label="Default select example" id="category">
                        <option selected value="" id="categorywaitforselect">--選擇類別--</option>
                        <option value="1">乳清蛋白</option>
                        <option value="2">健康食品</option>
                        <option value="3">運動配件</option>
                        <option value="4">健身器材</option>
                        <option value="5">服飾</option>
                        <option value="6">其他</option>
                    </select>
                </div>
                <div class="col-4 m-auto">
                    <label for="inpunitPrice" class="form-label">商品單價</label>
                    <div class="input-group">
                        <span class="input-group-text">$</span>
                        <input type="number" class="form-control" id="inpunitPrice" min="20" max="20000" step="1" value="20" style="text-align:center;">
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="inpproductDetail" class="form-label">商品詳細</label><span class="oncheck" id="spanproductDetail">*必填</span>
                <textarea class="form-control" id="inpproductDetail" rows="3" style="min-height: 256px"></textarea>
            </div>
            <div style="text-align:right;">
                <a href="https://localhost:7168/Admin/ProductList" class="btn btn-outline-secondary">取消</a>
                <button type="button" class="btn btn-outline-primary" id="btnadd" onclick="getall()">新增上架</button>
            </div>
        </section>
    </article>
</div>

<!-- Modal -->
<div class="modal" id="successModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" style="border-radius:10px; overflow:hidden;">
        <div class="modal-content" style="height:300px;width:400px;position:relative;border-radius:10px;border-color:#CECEFF;">
            <div class="modal-body" style="background-color:#ECFFFF; padding:0; position:relative; border-radius:10px;">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="position:absolute; top:10px; right:10px;"></button>
                <h5 style="position:absolute; top:10%; left:50%; transform:translate(-50%, -50%); color:#003D79; text-shadow: 1px 1px 2px #D9FFFF; font-weight:700;">新增成功!</h5>
                <img src="https://cdn.dribbble.com/users/1154535/screenshots/3288650/dribbble-success-2.gif" alt="success" style="height:100%; width:100%; object-fit:cover; border-radius:10px;border-color:#CECEFF;">
            </div>
        </div>
    </div>
</div>
<div class="modal" id="failedModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" style="border-radius:10px; overflow:hidden;">
        <div class="modal-content" style="height:300px;width:400px;position:relative;border-radius:10px;border-color:#FFECEC;">
            <div class="modal-body" style="background-color:#FBFFFD; padding:0; position:relative; border-radius:10px;">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="position:absolute; top:10px; right:10px;"></button>
                <h3 style="position:absolute; top:10%; left:50%; transform:translate(-50%, -50%); color:#600000; text-shadow: 1px 1px 2px #FFD9EC; font-weight:700;">新增失敗</h3>
                <img src="https://i.giphy.com/pjFF8YLW996aXqFHAu.webp" alt="Failed" style="height:100%; width:100%; object-fit:cover; border-radius:10px;border-color:#FFECEC;">
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        const productImage = document.querySelector('#divimage');
        const productName = document.querySelector('#inpproductName');
        const category = document.querySelector('#category');
        const thePrice = document.querySelector('#inpunitPrice');
        const detail = document.querySelector('#inpproductDetail');
        const add = document.querySelector('#btnadd');
        const postData = {
            "productName": "",
            "categoryId": 0,
            "productUnitprice": 20,
            "productDetail": "",
            "productImage": "",
            "imageBase64": "",
            "images": [],
            "moreBase64Images": []
        }
        function showSuccessModal() {
            const modal = new bootstrap.Modal(document.getElementById('successModal'));
            modal.show();
            setTimeout(() => {
                modal.hide();
            }, 2468);
        }
        function showFailedModal() {
            const modal = new bootstrap.Modal(document.getElementById('failedModal'));
            modal.show();
            setTimeout(() => {
                modal.hide();
            }, 1357);
        }

        //預覽選擇影像&轉成base64
        document.getElementById('formFile').addEventListener('change', function (event) {
            const fileInput = event.target;
            const files = fileInput.files;
            const preview = document.getElementById('preview');
            if (files.length > 0) {
                const file = files[0];
                const reader = new FileReader();
                reader.onload = function (e) {
                    preview.src = e.target.result;
                };
                reader.readAsDataURL(file);

                const byteReader = new FileReader();
                byteReader.onload = function (e) {
                    const arrayBuffer = e.target.result;
                    const byteArray = new Uint8Array(arrayBuffer);
                    const base64String = btoa(String.fromCharCode.apply(null, byteArray));
                    postData.productImage = file.name;
                    postData.imageBase64 = base64String;
                    console.log('Image in base64:', base64String);
                };
                byteReader.readAsArrayBuffer(file);
            }
        });
        // 多張影像
        document.getElementById('formFileMultiple').addEventListener('change', function (event) {
            const fileInput = event.target;
            const files = fileInput.files;

            Array.from(files).forEach(file => {
                const reader = new FileReader();
                reader.onload = function (e) {
                    const newPreview = `<div class="carousel-item">
                                            <img src="${e.target.result}" class="d-block w-100" alt="Image Preview">
                                        </div>`;
                    productImage.insertAdjacentHTML('beforeend', newPreview);
                };
                reader.readAsDataURL(file);

                const byteReader = new FileReader();
                byteReader.onload = function (e) {
                    const arrayBuffer = e.target.result;
                    const byteArray = new Uint8Array(arrayBuffer);
                    const base64String = btoa(String.fromCharCode.apply(null, byteArray));
                    postData.images.push({ productImages: file.name });
                    postData.moreBase64Images.push(base64String);
                    console.log('file.name:', file.name);
                    console.log('Image in base64:', base64String);
                };
                byteReader.readAsArrayBuffer(file);
            });
        });

        //檢查商品名稱
        productName.addEventListener('blur', (event) => {
            if(event.target.value==""){
                document.getElementById('spanproductName').style.display = 'block';
                return;
            }
            document.getElementById('spanproductName').style.display = 'none';
            postData.productName = event.target.value;
        })
        //商品類別
        category.addEventListener('change', (event) => {
            if (event.target.value == "") return;
            postData.categoryId=parseInt(event.target.value);
        })
        //單價限制
        thePrice.addEventListener('blur', event => {
            const value = parseFloat(event.target.value);
            const max = parseFloat(event.target.max);
            const min = parseFloat(event.target.min);
            if (value >= max)
                event.target.value = max.toString();
            if (value <= min)
                event.target.value = min.toString();
            postData.productUnitprice = parseInt(event.target.value);
        });
        //檢查商品介紹
        detail.addEventListener('blur', (event) => {
            if (event.target.value == "") {
                document.getElementById('spanproductDetail').style.display = 'block';
                return;
            }
            document.getElementById('spanproductDetail').style.display = 'none';
            postData.productDetail = event.target.value;
        })

        //獲取所有資料
        function getall() {
            const fileInput = document.getElementById('formFile');
            const files = fileInput.files;
            if (files.length <= 0||postData.productName == ""||postData.categoryId == 0
            ||postData.productDetail == ""||postData.imageBase64 == "") 
            { showFailedModal(); return; }
            console.log(postData);
            addProducts();
        }

        //新增商品資料
        const addProducts = async () => {
            let url = 'https://localhost:7199/api/Products/';
            let response = await fetch(url, {
                method: 'POST',
                body: JSON.stringify(postData),
                headers: {
                    'Content-Type': 'application/json'
                }
            });
            let data = await response.text();
            if (response.ok) {
                showSuccessModal();
                setTimeout(() => {
                    window.location.assign('https://localhost:7168/Admin/ProductList');
                }, 2800);
            } else { showFailedModal(); }
        }


        //DEMO
        document.querySelector('#createheading').addEventListener('click', () => {
            productName.value = 'NutroOne 單手調節專業啞鈴（5-45磅）';
            document.getElementById('categorywaitforselect').textContent = '健身器材';
            thePrice.value = '5999';
            detail.value = `新一代可調啞鈴，調重更快捷方便，打造你的私人家用健身室。現在只要一對啞鈴, 便相當於16支不同重量的啞鈴。<ul><li>新款尺寸更纖巧，節省空間，同時能降低預算</li><li>單手操作，轉動啞鈴手抽位置，最快1秒極速調重</li><li>根據個人需要，方便調節重量，定立個人全身訓練目標</li><li>加強物料，沿用安全設計，讓你訓練時更安心</li></ul>`;
            postData.productName = productName.value;
            postData.categoryId = 4;
            postData.productUnitprice = 5999;
            postData.productDetail = detail.value;
        })
    </script>
}

