/* _content/projFitConnect/Views/Admin/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-ftxnswo3z2] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-ftxnswo3z2] {
  color: #0077cc;
}

.btn-primary[b-ftxnswo3z2] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-ftxnswo3z2], .nav-pills .show > .nav-link[b-ftxnswo3z2] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-ftxnswo3z2] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-ftxnswo3z2] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-ftxnswo3z2] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-ftxnswo3z2] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-ftxnswo3z2] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/projFitConnect/Views/demo/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-qzkzeei90n] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-qzkzeei90n] {
  color: #0077cc;
}

.btn-primary[b-qzkzeei90n] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-qzkzeei90n], .nav-pills .show > .nav-link[b-qzkzeei90n] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-qzkzeei90n] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-qzkzeei90n] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-qzkzeei90n] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-qzkzeei90n] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-qzkzeei90n] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/projFitConnect/Views/Home/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-b6eh987aow] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-b6eh987aow] {
  color: #0077cc;
}

.btn-primary[b-b6eh987aow] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-b6eh987aow], .nav-pills .show > .nav-link[b-b6eh987aow] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-b6eh987aow] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-b6eh987aow] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-b6eh987aow] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-b6eh987aow] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-b6eh987aow] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/projFitConnect/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-26lhyo9a1i] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-26lhyo9a1i] {
  color: #0077cc;
}

.btn-primary[b-26lhyo9a1i] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-26lhyo9a1i], .nav-pills .show > .nav-link[b-26lhyo9a1i] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-26lhyo9a1i] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-26lhyo9a1i] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-26lhyo9a1i] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-26lhyo9a1i] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-26lhyo9a1i] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
